<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns:res="http://resource.jiangcai.me" lang="en">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <title>商品路线编辑</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

    <link href="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/hotui/css/animate.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/summernote/summernote.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/summernote/summernote-bs3.css" rel="stylesheet"/>
    <link href="../../../assets/libs/cityPicker/css/city-picker.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/hotui/css/style.min-1.0.2.css" rel="stylesheet"/>

</head>
<!--/*@thymesVar id="typeName" type="com.huotu.tourist.entity.TouristType"*/-->
<!--/*@thymesVar id="good" type="com.huotu.tourist.entity.TouristGood"*/-->
<!--/*@thymesVar id="touristTypes" type="java.util.ArrayList<com.huotu.tourist.entity.TouristType>"*/-->
<!--/*@thymesVar id="activityTypes" type="java.util.ArrayList<com.huotu.tourist.entity.ActivityType>"*/-->
<!--/*@thymesVar id="routes" type="java.util.ArrayList<com.huotu.tourist.model.TouristRouteModel>"*/-->
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>编辑商品</h2>
                    <div class="text-right">
                        <button onclick="history.go(-1)" class="btn btn-success" type="button">返回</button>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#tab-1" aria-expanded="true">基本信息</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#tab-2" aria-expanded="false">活动详情/注意事项</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="wrapper-content">

                                    <form  class="form-horizontal" th:object="${good}">
                                        <input name="id" th:value="*{id}" type="hidden"/>
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">名称：</label>

                                            <div class="col-sm-4">
                                                <input name="touristName" th:value="*{touristName}" type="text"
                                                       class="form-control"/>
                                            </div>
                                        </div>

                                        <div class="form-group form-inline">
                                            <label class="col-sm-1 control-label">封面图片：</label>

                                            <div class="col-sm-10">
                                                    <img id="pictureUrl" style="width: 150px;height: 100px"  res:src="@{*{touristImgUri}}"
                                                         src="http://placehold.it/300x200?text=封面&size=50"/>
                                                <label title="上传图片" for="fileImage" class="btn btn-success">
                                                    <input onchange="uploadImage()" type="file" accept="image/*"  id="fileImage" name="fileImage" class="hide"/> 上传新图片
                                                </label>
                                                <span class="help-block m-b-none">推荐图片大小:300x200</span>
                                            </div>
                                        </div>

                                        <div class="form-group form-inline">
                                            <label class="col-sm-1 control-label">上传组图：</label>

                                            <div class="col-sm-10">
                                                <img style="width: 150px;height: 100px"  th:src="*{touristImgUri}"
                                                     src="http://placehold.it/300x200?text=封面&size=50"/>
                                                <img style="width: 150px;height: 100px"  th:src="*{touristImgUri}"
                                                     src="http://placehold.it/300x200?text=封面&size=50"/>
                                                <!--<label title="上传图片" for="fileImage" class="btn btn-success">-->
                                                    <!--<input onchange="uploadImage()" type="file" accept="image/*"  id="fileImage" name="fileImage" class="hide"/> 上传新图片-->
                                                <!--</label>-->
                                                <!--<span class="help-block m-b-none">推荐图片大小:300x200</span>-->
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">活动类型：</label>

                                            <div class="col-sm-1">

                                                <select name="touristType"  class="form-control">

                                                    <option th:each="t:${touristTypes}" value="3"
                                                            th:checked="${good.touristType!=null} and ${good.touristType.id}==${t.id}"
                                                            th:value="${t.id}"
                                                            th:text="${t.typeName}">短途游
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">线路类型：</label>

                                            <div class="col-sm-1">

                                                <select name="activityType"  class="form-control">
                                                    <option th:each="a:${activityTypes}" value="2"
                                                            th:checked="${good.activityType!=null} and*{activityType.id}==${a.id}"
                                                            th:value="${a.id}"
                                                            th:text="${a.activityName}">跳伞
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">线路特色：</label>

                                            <div class="col-sm-10">
                                                <input placeholder="线路特色" name="touristFeatures" th:value="*{touristFeatures}"
                                                       type="text" class="form-control"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">目的地：</label>

                                            <div class="col-sm-3">
                                                <input placeholder="请选择目的地" data-toggle="city-picker"
                                                       name="destination" th:value="*{destination}"
                                                       type="text" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">出发地：</label>

                                            <div class="col-sm-3">
                                                <input placeholder="请选择出发地" data-toggle="city-picker"
                                                       name="placeOfDeparture" th:value="*{placeOfDeparture}"
                                                       type="text" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">途径地：</label>

                                            <div class="col-sm-3">
                                                <input placeholder="请选择途径地" data-toggle="city-picker"
                                                       name="travelledAddress" th:value="*{travelledAddress}"
                                                       type="text" class="form-control"/>
                                            </div>
                                        </div>

                                        <div class="form-group form-inline">
                                            <label class="col-sm-1 control-label">价格(￥)：</label>

                                            <div class="col-sm-10">
                                                <input name="price" th:value="*{price}" type="text"
                                                       class="form-control"/>
                                                <span class="text-left">成人</span>

                                                    <input name="childrenDiscount" th:value="*{childrenDiscount}" type="text"
                                                       class="form-control"/>

                                                <span class="text-left">儿童</span>
                                                <button id="discountInfo" class="btn btn-white btn-circle btn-sm"
                                                        type="button">
                                                    <i class="fa fa-question"></i>
                                                </button>

                                            </div>
                                        </div>

                                        <div class="form-group form-inline">
                                            <label class="col-sm-1 control-label">返利(￥)：</label>

                                            <div class="col-sm-10">
                                                <input name="rebate" th:value="*{rebate}" type="text"
                                                       class="form-control"/>
                                                <span>%</span>
                                                <button id="rebateInfo" class="btn btn-white btn-circle btn-sm"
                                                        type="button">
                                                    <i class="fa fa-question"></i>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">地接人：</label>

                                            <div class="col-sm-2">
                                                <input name="receptionPerson" th:value="*{receptionPerson}" type="text"
                                                       class="form-control"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">联系电话：</label>

                                            <div class="col-sm-2">
                                                <input name="receptionTelephone" th:value="*{receptionTelephone}" type="text"
                                                       class="form-control"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">人数：</label>

                                            <div class="col-sm-1">
                                                <input name="maxPeople" th:value="*{maxPeople}" type="text"
                                                       class="form-control"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">出行时间：</label>

                                            <div class="col-sm-2">
                                                <button type="button"  onclick="addTouristDate()"
                                                         class="btn btn-success">新增
                                                </button>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>


                                        <div id="goodsTouristDates" class="form-group form-inline">

                                            <div th:each="r:${routes}" class="col-sm-2">
                                                <span>出行时间：</span>
                                                <input name="toursitDate" th:value="${r.fromDate}" type="text"
                                                       class="form-control"/>
                                                <span th:if="${r.sold}">已售出</span>
                                                <span th:text="${r.id}" style="display: none">1</span>
                                            </div>

                                        </div>

                                    </form>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="wrapper-content">
                                    <form th:object="${good}" method="post" class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">活动详情</label>

                                            <div class="col-sm-10">
                                                <div id="eventDetails" th:utext="*{eventDetails}" class="summernote">
                                                    <h2>H+ 后台主题</h2>
                                                    <p>H+是一个完全响应式，基于Bootstrap3.3.5最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术，她提供了诸多的强大的可以重新组合的UI组件，并集成了最新的jQuery版本(v2.1.1)，当然，也集成了很多功能强大，用途广泛的就jQuery插件，她可以用于所有的Web应用程序，如<b>网站管理后台</b>，<b>网站会员中心</b>，<b>CMS</b>，<b>CRM</b>，<b>OA</b>等等，当然，您也可以对她进行深度定制，以做出更强系统。</p>
                                                    <p>
                                                        <b>当前版本：</b>v4.0.0
                                                    </p>
                                                    <p>
                                                        <b>定价：</b><span class="label label-warning">&yen;988（不开发票）</span>
                                                    </p>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">注意事项</label>

                                            <div class="col-sm-10">
                                                <div id="beCareful" th:utext="*{beCareful}" class="summernote">
                                                    <h2>H+ 后台主题</h2>
                                                    <p>H+是一个完全响应式，基于Bootstrap3.3.5最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术，她提供了诸多的强大的可以重新组合的UI组件，并集成了最新的jQuery版本(v2.1.1)，当然，也集成了很多功能强大，用途广泛的就jQuery插件，她可以用于所有的Web应用程序，如<b>网站管理后台</b>，<b>网站会员中心</b>，<b>CMS</b>，<b>CRM</b>，<b>OA</b>等等，当然，您也可以对她进行深度定制，以做出更强系统。</p>
                                                    <p>
                                                        <b>当前版本：</b>v4.0.0
                                                    </p>
                                                    <p>
                                                        <b>定价：</b><span class="label label-warning">&yen;988（不开发票）</span>
                                                    </p>

                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <p class="text-center">
                            <button onclick="submitForm(0,this)" class="btn btn-success" type="button">保存</button>
                            <button onclick="submitForm(1,this)" class="btn btn-success" type="button">保存并提交审核</button>
                            <button onclick="submitForm(3,this)" class="btn btn-success" type="button">回收</button>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/bootstrap.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/layer/2.4/layer.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/summernote/summernote.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/summernote/summernote-zh-CN.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/datetimepick/moment.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/datetimepick/daterangepicker.js"></script>
<script src="../../../assets/libs/cityPicker/js/city-picker.data.js"></script>
<script src="../../../assets/libs/cityPicker/js/city-picker.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/ajaxfileupload/ajaxfileupload.js"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    var submitUrl=/*[[@{/supplier/saveTouristGood}]]*/'../../../mock/supplier/httpJson.json';
    /*]]>*/

</script>
<script src="../../../assets/js/manage/supplier/goodsDetails.js"></script>

</body>

</html>