<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns:res="http://resource.jiangcai.me" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css"/>
    <link href="../../../assets/libs/layer/skin/layer.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
</head>
<!--/*@thymesVar id="touristTypes" type="java.util.ArrayList<com.huotu.tourist.entity.TouristType>"*/-->
<!--/*@thymesVar id="activityTypes" type="java.util.ArrayList<com.huotu.tourist.entity.ActivityType>"*/-->
<!--/*@thymesVar id="checkStates" type="com.huotu.tourist.common.TouristCheckStateEnum[]"*/-->
<body>
<div class="panel-body" style="padding-bottom:0;">
    <div class="panel panel-default">
        <div class="panel-heading">查询条件</div>
        <div class="panel-body">
            <form role="form" class="search-panel" id="searchCircle">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content p-m no-borders">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label class="control-label" for="touristName">线路名称：</label>
                                        <input type="text" class="form-control input-sm mb10"
                                               id="touristName" name="touristName" placeholder="线路名称"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="touristType">线路类型：</label>
                                        <select class="form-control" name="touristType" id="touristType">
                                            <option value="-1">全部</option>
                                            <option th:each="t:${touristTypes}" value="0"
                                            th:value="${t.id}" th:text="${t.typeName}">长途游</option>
                                            <!--<option value="1">短途游</option>-->
                                            <!--<option value="1">境外游</option>-->
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="activityType">活动类型：</label>
                                        <select class="form-control" name="activityType" id="activityType">
                                            <option value="-1">全部</option>
                                            <option th:each="a:${activityTypes}" value="0"
                                            th:value="${a.id}" th:text="${a.activityName}">登山</option>
                                            <!--<option value="1">徒步</option>-->
                                            <!--<option value="1">潜水</option>-->
                                            <!--<option value="1">滑雪</option>-->
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="touristCheckState">审核状态：</label>
                                        <select class="form-control" name="touristCheckState" id="touristCheckState">
                                            <option value="-1">全部</option>
                                            <option th:each="c:${checkStates}" value="0"
                                            th:value="${c.code}" th:text="${c.value}">已保存</option>
                                            <!--<option value="1">未审核</option>-->
                                            <!--<option value="1">已审核</option>-->
                                            <!--<option value="1">已回收</option>-->
                                        </select>
                                    </div>

                                </div>
                                <p style="height: 8px;"></p>

                                <div class="form-inline" style="max-width: 926px; text-align: right;">
                                    <button id="searchList" type="button" class="btn btn-primary">筛选</button>
                                    <!--<button type="button" class="btn btn-primary">显示全部</button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="toolbar" class="btn-group">
            <a class="btn btn-primary" th:href="@{/supplier/showTouristGood}" href="goodsDetailsH+.html">
                <span class="glyphicon glyphicon-plus" aria-hidden="true">新增</span>
            </a>
    </div>

    <table id="goodsTable" data-toggle="table" th:attr="data-url=@{/base/touristGoodList}"
           data-url="../../../mock/supplier/goodsList.json"
           data-method="get" data-side-pagination="server"
           data-pagination="true" data-striped="true" data-page-number="1" data-page-size="10"
           data-page-list="[10, 25, 50, 100, All]" data-show-columns="true"
           data-minimum-count-columns="2" data-escape="true"
           data-query-params="getParams" data-toolbar="#toolbar">
        <thead>
        <tr>
            <th data-field="id" data-align="center">序号</th>
            <th data-field="touristName" data-align="center" data-formatter="touristNameFormatter">商品名称</th>
            <th data-field="touristImgUri"  data-align="center"data-formatter="touristImgUriFormatter">图片</th>
            <th data-field="touristType" data-align="center">线路类型</th>
            <th data-field="activityType" data-align="center">活动类型</th>
            <th data-field="price" data-align="center" data-sortable="true">价格</th>
            <th data-field="surplus" data-align="center">剩余库存</th>
            <th data-field="destination" data-align="center">目的地</th>
            <th data-field="rebate" data-align="center" data-sortable="true">佣金比例</th>
            <th data-field="touristCheckState" data-align="center"
                data-formatter="touristCheckStateFormatter">审核状态</th>
            <th data-field="action"  data-align="center"
                data-formatter="actionFormatter" data-events="actionEvents">操作
            </th>
        </tr>
        </thead>
    </table>
</div>
<img id="goodsResPath" style="display: none" res:src="''" height="50px" width="80px">
<script src="http://resali.huobanplus.com/cdn/jquery/3.1.1/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bootstrap/3.3.7/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/layer/3.0.1/layer.js"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var recyleUrl=/*[[@{/base/modifyTouristGoodState}]]*/"../../../mock/supplier/httpJson.json";
    var showGoodsDetalUrl=/*[[@{/supplier/showTouristGood}]]*/"goodsDetailsH+.html";
    /*]]>*/
</script>
<script src="../../../assets/js/manage/supplier/goodsList.js"></script>
</body>

</html>