<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>供应商后台</title>


    <link href="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/hotui/css/animate.min.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/hotui/css/style.min-1.0.2.css" rel="stylesheet"/>
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow: hidden">
<div id="wrapper">
    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close">
            <i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold" th:text="${#authentication.name}">超级管理员</strong></span>
                                </span>
                        </a>
                        <!--<ul class="dropdown-menu animated fadeInDown m-t-xs">-->
                            <!--<li><a class="J_menuItem" href="/top/modifyPassword">修改密码</a>-->
                            <!--</li>-->
                            <!--<li class="divider"></li>-->
                            <!--<li><a href="/loginOut">安全退出</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    </div>
                </li>
                <li>
                    <a class="J_menuItem" href="salesStatistics.html" th:href="@{/supplier/showSaleStatistics}">
                        <i class="fa fa-home"></i>
                        <span class="nav-label">操作列表</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-edit"></i>
                        <span class="nav-label">订单管理</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li><a class="J_menuItem" th:href="@{/supplier/showOrderList}"
                                href="../common/orderList.html">订单列表</a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-edit"></i><span class="nav-label">线路管理</span><span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a class="J_menuItem" th:href="@{/base/showGoodsList}" href="goodsList.html">路线列表</a>
                        </li>
                        <li><a class="J_menuItem" th:href="@{/supplier/showTouristGood}" href="goodsDetailsH+.html">新增路线</a>
                        </li>
                        <li><a class="J_menuItem" th:href="@{/distributionPlatform/toTouristTypeList}" href="../platform/touristType/touristTypeList.html">
                            路线类型</a>
                        </li>
                        <li><a class="J_menuItem" th:href="@{/distributionPlatform/toActivityTypeList}" href="../platform/activityType/activityTypeList.html">
                            活动类型</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-edit"></i><span class="nav-label">结算统计</span><span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a class="J_menuItem" th:href="@{/supplier/showSettlement}" href="settlementAccount.html">结算账户</a>
                        </li>
                        <li><a class="J_menuItem" href="salesStatistics.html"
                               th:href="@{/supplier/showSaleStatistics}">销售统计</a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-edit"></i><span class="nav-label">设置</span>
                        <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a class="J_menuItem" href="supplierDetailsH+.html"
                               th:href="@{/supplier/showSupplierInfo}">供应商信息</a>
                        </li>
                        <li><a class="J_menuItem" href="payeeAccountDetails.html"
                               th:href="@{/supplier/showCollectionAccount}">收款账户</a>
                        </li>
                        <li><a class="J_menuItem" href="jurisdictionList.html"
                               th:href="@{/supplier/showJurisdiction}">后台权限</a>
                        </li>
                        <li><a class="J_menuItem" href="jurisdictionDeails.html"
                               th:href="@{/supplier/showSupplierResetPassword}">修改密码</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
    <!--左侧导航结束-->
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row content-tabs">
            <button class="navbar-minimalize roll-nav roll-left">
                <i class="fa fa-bars"></i>
            </button>
            <button class="roll-nav roll-left J_tabLeft" style="margin-left: 40px">
                <i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs J_menuTabs" style="margin-left: 80px;">
                <div class="page-tabs-content">
                    <a href="javascript:;" class="active J_menuTab"
                       data-id="/top/welcome">首页</a>
                </div>
            </nav>
            <button class="roll-nav roll-right J_tabRight">
                <i class="fa fa-forward"></i>
            </button>
            <div class="btn-group roll-nav roll-right">
                <button class="dropdown J_tabClose" data-toggle="dropdown">
                    关闭操作<span class="caret"></span>

                </button>
                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                    <li class="J_tabShowActive"><a>定位当前选项卡</a>
                    </li>
                    <li class="divider"></li>
                    <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                    </li>
                    <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                    </li>
                </ul>
            </div>
            <a href="../login.html" th:href="@{/logout}" class="roll-nav roll-right J_tabExit"><i
                    class="fa fa fa-sign-out"></i>退出</a>
        </div>
        <div class="row J_mainContent" id="content-main">
            <iframe class="J_iframe" name="iframe0" width="100%" height="100%"
                    src="salesStatistics.html"  th:src="@{/supplier/showSaleStatistics}" frameborder="0"
                    data-id="/top/welcome" seamless></iframe>
        </div>
    </div>
    <!--右侧部分结束-->
</div>

<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/bootstrap.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/layer/2.4/layer.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/hplus.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/contabs.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/pace/pace.min.js"></script>
<script src="../../../assets/js/manage/main.js"></script>

<!--共享的文件上传模板-->
<script type="text/template" id="qq-template">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="拖拽至此">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                 class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="qq-upload-button-selector qq-upload-button">
            <div>选择文件</div>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
                <span>处理中</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
            <li class="qq-file-id-3 qq-upload-success" qq-file-id="3">
                <div class="qq-progress-bar-container-selector qq-hide">
                    <div role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                         class="qq-progress-bar-selector qq-progress-bar" style="width: 100%;"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner qq-hide"></span>
                <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale=""
                     src="">
                <span class="qq-upload-file-selector qq-upload-file" title="testUpload.jpg">testUpload.jpg</span>
                <span class="qq-upload-size-selector qq-upload-size">9.9kB</span>
                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel qq-hide">取消</button>
                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry qq-hide">重试</button>
                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">删除</button>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                         class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">取消</button>
                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">重试</button>
                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">删除</button>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">关闭</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">否</button>
                <button type="button" class="qq-ok-button-selector">是</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">取消</button>
                <button type="button" class="qq-ok-button-selector">确定</button>
            </div>
        </dialog>
    </div>
</script>
<script th:inline="javascript">
    uploaderUrl = /*[[@{/upload/fine}]]*/ null;
    imageUploaderUrl = /*[[@{/upload/image}]]*/ null;
    testMode = /*[[${@environment.acceptsProfiles('test')}]]*/ true;
    language = 'zh-cn';
</script>


<script type="text/javascript">
    function newTab(url, name) {
        var index = false;
        $(".page-tabs-content .J_menuTab").each(function () {
            var dataId = $(this).attr("data-id");
            if (dataId == url) {
                index = true;
                $(this).click();
                return false;
            }
        });
        if (!index) {
            var s = '<a href="javascript:;" class="active J_menuTab" data-id="' + url + '">' + name + ' <i class="fa fa-times-circle"></i></a>';
            $(".J_menuTab").removeClass("active");
            var r = '<iframe class="J_iframe" width="100%" height="100%" src="' + url + '" frameborder="0" data-id="' + url + '" seamless></iframe>';
            $(".J_mainContent").find("iframe.J_iframe").hide().parents(".J_mainContent").append(r);
            var o = layer.load();
            $(".J_mainContent iframe:visible").load(function () {
                layer.close(o)
            }),
                    $(".J_menuTabs .page-tabs-content").append(s);
        }
    }
</script>
</body>

</html>
