<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="../../../assets/libs/layer/skin/layer.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/iCheck/custom.css" rel="stylesheet"/>
    <!--<link href="../../assets/css/style.min.css?v=4.0.0" rel="stylesheet"/>-->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/style.min-1.0.2.css" rel="stylesheet"/>
</head>
<!--/*@thymesVar id="order" type="com.huotu.tourist.entity.TouristOrder"*/-->
<!--/*@thymesVar id="route" type="com.huotu.tourist.entity.TouristRoute"*/-->
<!--/*@thymesVar id="orderStates" type="java.util.ArrayList<com.huotu.tourist.common.OrderStateEnum>"*/-->
<!--/*@thymesVar id="travelers" type="java.util.ArrayList<com.huotu.tourist.entity.Traveler>"*/-->
<body class="gray-bg">
<div class="row">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-content">
                <div class="">
                    <div class="float-e-margins">
                        <h1 th:text="'订单号：'+${order.orderNo}+'   '+${order.orderState.value}">订单号：1913233132131231    已支付 </h1>
                    </div>
                    <div class="float-e-margins">
                        <label>订单操作：</label>
                        <button onclick="modifyOrderStatus(1,this)"
                                th:onclick="'modifyOrderStatus('+${order.id}+',this)'"
                                th:each="o:${orderStates}" class="btn btn-success">
                            <span class="orderState" style="display: none" th:text="${o.code}">2</span>
                            <span th:text="${o.value}">确认订单</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-content">
                <table class="table table-bordered">
                    <tr>
                        <th>线路名称</th>
                        <th>出行日期</th>
                        <th>单价</th>
                        <th>购买数量</th>
                        <th>总金额</th>
                        <th>返佣</th>
                    </tr>
                    <tr>

                        <td th:text="${order.touristGood.touristName}">22</td>
                        <td th:text="${route.fromDate}">22</td>
                        <td th:text="${order.touristGood.price}">22</td>
                        <td th:text="${travelers.size()}">22</td>
                        <td th:text="${order.orderMoney}">22</td>
                        <td th:text="${order.orderMoney}*${order.touristGood.rebate}">22</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <div class="ibox">
            <div class="ibox-title">
                <label>订单详情</label>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered">
                    <tr>
                        <th style="width: 150px">订单号</th>
                        <td>11淡淡的淡淡的淡淡的</td>
                        <th style="width: 150px">订单总金额</th>
                        <td>11到底大大大大大大大大大大大</td>

                    </tr>
                    <tr>
                        <th>下单日期：</th>
                        <td>22</td>
                        <th>支付时间：</th>
                        <td>22</td>
                    </tr>
                    <tr>
                        <th>积分抵用：</th>
                        <td>22</td>
                        <th>支付方式：</th>
                        <td>22</td>
                    </tr>
                    <tr>
                        <th>余额抵用：</th>
                        <td>22</td>
                        <th>购买数量：</th>
                        <td>22</td>
                    </tr>
                    <tr>
                        <th>小金库抵用：</th>
                        <td>22</td>
                        <th>返佣：</th>
                        <td>22</td>
                    </tr>
                    <tr>
                        <th>订单备注：</th>
                        <td>22</td>
                        <th></th>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <div class="col-sm-4">
        <div class="ibox">
            <div class="ibox-title">
                <label>购买人详情</label>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered">
                    <tr>
                        <th style="width: 150px">购买人姓名：</th>
                        <td>11</td>
                    </tr>
                    <tr>
                        <th>购买人手机号：</th>
                        <td>22</td>
                    </tr>
                    <tr>
                        <th>身份证号：</th>
                        <td>11</td>
                    </tr>
                    <tr>
                        <th>所属俱乐部名称：</th>
                        <td>22</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

</div>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-title">
                <label>人员信息</label>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered">
                    <tr>
                        <th>ID</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>年龄</th>
                        <th>手机号</th>
                        <th>身份证号码</th>
                        <th>操作</th>
                    </tr>
                    <tr th:each="t:${travelers}">
                        <td th:text="${t.id}">11</td>
                        <td th:text="${t.name}">史利挺</td>
                        <td th:text="${t.sex.value}">女</td>
                        <td th:text="${t.age}">25</td>
                        <td th:text="${t.telPhone}">18069874125</td>
                        <td th:text="${t.IDNo}">330227199324595462</td>
                        <td>
                            <a class="btn btn-success" onclick="modifyTravelerInfo(this)">修改</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="modifyTravelerInfo" class="col-md-12" style="display: none">
    <div class="ibox float-e-margins">

        <div class="ibox-content">
            <form method="get" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">姓名</label>

                    <div class="col-sm-10">
                        <input name="name" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">性别</label>

                    <div class="col-sm-10">
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" value="0" name="sex" id="sexman">男</label>
                            <label class="radio-inline">
                                <input type="radio" value="1" name="sex" id="sexwoman">女</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">年龄</label>

                    <div class="col-sm-10">
                        <input name="age" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">手机号</label>

                    <div class="col-sm-10">
                        <input name="tel" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">身份证号</label>

                    <div class="col-sm-10">
                        <input name="IDNo" type="text" class="form-control">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




<script src="http://resali.huobanplus.com/cdn/jquery/3.1.1/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bootstrap/3.3.7/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/layer/3.0.1/layer.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/iCheck/icheck.min.js"></script>
<script src="../../../assets/js/page/supplier/orderDetails.js" th:inline="javascript"></script>
</body>

</html>