<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <link href="../../assets/css/admin.content.css" type="text/css" rel="stylesheet"/>
    <link href="../../assets/css/admin.global.css" type="text/css" rel="stylesheet"/>
    <link href="../../assets/css/global.css" type="text/css" rel="stylesheet"/>
    <link href="../../assets/libs/layer/skin/layer.css" rel="stylesheet"/>


</head>
<body>
<div class="block">
    <div class="h">
        <span class="icon-sprite icon-list"></span>
        <h3>订单详情</h3>
        <div class="bar">
            <a class="btn-lit" href="../common/orderList.html" target="content">
                <span>返回订单列表</span></a>
        </div>
    </div>
    <div class="cnt-wp">
        <table>
            <th>
                路线名称
            </th>
            <th>
                出行日期
            </th>
            <th>
                单价
            </th>
            <th>
                购买数量
            </th>
            <th>总金额</th>
            <th>返佣</th>
        </table>
    </div>
</div>

<script src="http://resali.huobanplus.com/cdn/jquery/3.1.1/jquery.min.js"
        type="application/javascript"></script>
<script src="http://resali.huobanplus.com/cdn/layer/3.0.1/layer.js"
        type="application/javascript"></script>
<script src="../../assets/js/page/supplier/orderDetails.js"
        type="application/javascript"></script>
</body>
</html>