<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>线路产品审核列表</title>
    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">
    <link href="../../../../assets/libs/layer/skin/layer.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/hotui/css/style.min-1.0.2.css" rel="stylesheet"/>
</head>
<body>
<div class="panel-body" style="padding-bottom:0;">
    <div class="panel panel-default">
        <div class="panel-heading">查询条件</div>
        <div class="panel-body">
            <form id="formSearch" class="form-horizontal">
                <div class="form-group" style="margin-top:15px">

                    <div class="col-sm-2">
                        <input type="text" name="buyerName" class="form-control"
                               placeholder="供应商名称">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" name="touristName" class="form-control"
                               placeholder="线路名称">
                    </div>
                    <div class="col-sm-2">
                        <select name="touristTypeId" class="form-control"
                                placeholder="线路类型">
                            <option value="">
                            </option>
                            <!--suppress ThymeleafVariablesResolveInspection -->
                            <option th:each="touristType : ${touristTypes}"
                                    th:text="${touristType.typeName}"
                                    th:value="${touristType.id}" value="1">
                                自驾游
                            </option>

                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select name="activityTypeId" class="form-control"
                                placeholder="活动类型">
                            <option value=""></option>
                            <!--suppress ThymeleafVariablesResolveInspection -->
                            <option th:each="activity : ${activityTypes}"
                                    th:text="${activity.activityName}"
                                    th:value="${activity.id}" value="1">
                                滑雪
                            </option>

                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select name="touristCheckState" class="form-control"
                                placeholder="审核状态">
                            <option value=""></option>
                            <!--suppress ThymeleafVariablesResolveInspection -->
                            <option value="0"
                                    th:each="checkState:${T(com.huotu.tourist.common.TouristCheckStateEnum).values()}"
                                    th:value="${checkState.getCode()}"
                                    th:text="${checkState.getValue().toString()}">已保存
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary btnSearch">搜 索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li role="presentation" class="active all"><a href="#all" role="tab" data-toggle="tab">全 部</a></li>
            <li role="presentation" class="recommend"><a href="#recommend" role="tab" data-toggle="tab">推荐商品</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="all">
                <table id="table" data-toggle="table" data-url="../../../../mock/platform/touristGoodList.json"
                       th:attr="data-url=@{/distributionPlatform/touristGoodList}"
                       data-method="get"
                       data-side-pagination="server"
                       data-pagination="true" data-striped="true"
                       data-page-number="1" data-page-size="10" data-page-list="[10, 25, 50, 100, All]"
                       data-show-columns="true" data-minimum-count-columns="2" data-escape="true"
                       data-query-params="getParams" data-query-params-type="data">
                    <thead>
                    <tr>
                        <th data-field="id" data-align="center" data-sortable="true">id</th>
                        <th data-field="touristName" data-align="center" data-sortable="true">商品名称</th>
                        <th data-field="touristImgUri" data-formatter="touristImgUriFormatter" data-align="center">图片
                        </th>
                        <th data-field="supplierName" data-align="center">供应商名称</th>
                        <th data-field="touristType" data-align="center">线路类型</th>
                        <th data-field="activityType" data-align="center">活动类型</th>
                        <th data-field="price" data-align="center" data-sortable="true">价格</th>
                        <th data-field="surplus" data-align="center" data-sortable="true">剩余库存</th>
                        <th data-field="destination" data-align="center">目的地</th>
                        <th data-field="rebate" data-align="center" data-sortable="true">佣金比例</th>
                        <th data-field="touristCheckState.value" data-align="center">审核状态</th>
                        <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents"
                            data-align="center">操作
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="recommend">
                <table id="recommendTable" data-toggle="table"
                       data-url="../../../../mock/platform/recommendTouristGoodList.json"
                       th:attr="data-url=@{/distributionPlatform/touristGoodList(recommend=true)}"
                       data-method="get"
                       data-side-pagination="server"
                       data-pagination="true" data-striped="true"
                       data-page-number="1" data-page-size="10" data-page-list="[10, 25, 50, 100, All]"
                       data-show-columns="true" data-minimum-count-columns="2" data-escape="true"
                       data-query-params="getParams" data-query-params-type="data">
                    <thead>
                    <tr>
                        <th data-field="id" data-align="center" data-sortable="true">id</th>
                        <th data-field="touristName" data-align="center">商品名称</th>
                        <th data-field="touristImgUri" data-formatter="touristImgUriFormatter" data-align="center">图片
                        </th>
                        <th data-field="supplierName" data-align="center">供应商名称</th>
                        <th data-field="touristType" data-align="center">线路类型</th>
                        <th data-field="activityType" data-align="center">活动类型</th>
                        <th data-field="price" data-align="center" data-sortable="true">价格</th>
                        <th data-field="surplus" data-align="center" data-sortable="true">剩余库存</th>
                        <th data-field="destination" data-align="center">目的地</th>
                        <th data-field="rebate" data-align="center" data-sortable="true">佣金比例</th>
                        <th data-field="touristCheckState.value" data-align="center">审核状态</th>
                        <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents"
                            data-align="center">操作
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">链接地址</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="linkUrl" class="col-sm-2 control-label">链接</label>
                        <div class="col-sm-10">
                            <input type="url" name="linkUrl" id="linkUrl" class="form-control" placeholder="链接地址">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="productModalLabel">商城货品id关联</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="linkUrl" class="col-sm-2 control-label">货品id</label>
                        <div class="col-sm-10">
                            <input type="number" name="mallProductId" id="mallProductId" class="form-control"
                                   placeholder="货品id">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btnSearch doUpdateMallGoodsID" data-dismiss="modal">关联</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="notAuditedModal" tabindex="-1" role="dialog" aria-labelledby="notAuditedModal"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="notAuditedModalLabel">不通过描述</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="linkUrl" class="col-sm-2 control-label">描述</label>
                        <div class="col-sm-10">
                            <input type="text" maxlength="200" name="notAuditedDetail" id="notAuditedDetail"
                                   class="form-control"
                                   placeholder="描述">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btnSearch notAudited" data-dismiss="modal">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="../../../../assets/js/jquery.min.js"></script>
<script src="../../../../assets/libs/bootstrap/bootstrap.min.js"></script>
<script src="../../../../assets/libs/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../../../../assets/libs/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/layer/3.0.1/layer.js"></script>
<script th:inline="javascript">
    linkUrl = /*[[@{/wap/goodInfo}]]*/ '';
    recommendTouristGood = /*[[@{/distributionPlatform/recommendTouristGood}]]*/
            "../../../../mock/platform/httpJson.json";
    unRecommendTouristGood = /*[[@{/distributionPlatform/unRecommendTouristGood}]]*/
            "../../../../mock/platform/httpJson.json";
    showTouristGood = /*[[@{/distributionPlatform/showTouristGood}]]*/ "touristGood.html";
    modifyTouristGoodState = /*[[@{/distributionPlatform/modifyTouristGoodState}]]*/
            "../../../../mock/platform/httpJson.json";
</script>
<script src="../../../../assets/js/manage/platform/touristGoodList.js"></script>

</body>
</html>