<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <link href="../../assets/css/admin.content.css" type="text/css" rel="stylesheet"/>
    <link href="../../assets/css/admin.global.css" type="text/css" rel="stylesheet"/>
    <link href="../../assets/css/global.css" type="text/css" rel="stylesheet"/>
    <link href="../../assets/libs/layer/skin/layer.css" rel="stylesheet"/>
    <script src="../../assets/seajs/sea.js" type="application/javascript"></script>
    <script src="../../assets/seajs/config.js" type="application/javascript"></script>
</head>
<body>
<div class="block">
    <div class="h">
        <span class="icon-sprite icon-list"></span>
        <h3>添加供应商</h3>
        <div class="bar">
            <a class="btn-lit" href="supplierList.html" target="content">
                <span>返回管理列表</span></a>
        </div>
    </div>
    <div class="cnt-wp">
        <form method="post" id="addModelForm" action="supplierList.html">
            <div class="cnt form">
                <div class="division">
                    <input type="hidden" name="hidModelID" id="hidModelID">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <th>供应商名称：</th>
                            <td>
                                <input name="supplierName" type="text" id="supplierName" maxlength="50"
                                       class="input-normal" placeholder="请输入模型名称">
                            </td>
                        </tr>
                        <tr>
                            <th>所在地：</th>
                            <td>
                                <select name="province" class="input-normal" id="province">
                                    <option value="-1">省</option>
                                    <option value="0">浙江</option>
                                    <option value="1">安徽</option>
                                    <option value="2">上海</option>
                                    <option value="3">北京</option>
                                    <option value="4">江苏</option>
                                    <option value="5">福建</option>
                                </select>
                                <select name="town" class="input-normal" id="town">
                                    <option value="-1">市</option>
                                    <option value="0">文章模型</option>
                                    <option value="1">公告模型</option>
                                    <option value="2">视频模型</option>
                                    <option value="3">图库模型</option>
                                    <option value="4">下载模型</option>
                                    <option value="5">链接模型</option>
                                </select>
                                <select name="district" class="input-normal" id="district">
                                    <option value="-1">区/县</option>
                                    <option value="0">文章模型</option>
                                    <option value="1">公告模型</option>
                                    <option value="2">视频模型</option>
                                    <option value="3">图库模型</option>
                                    <option value="4">下载模型</option>
                                    <option value="5">链接模型</option>
                                </select>
                                <input type="hidden" name="address" value="">
                            </td>
                        </tr>
                        <tr>
                            <th>详细地址：</th>
                            <td>
                                <input type="text" name="detailedAddress" id="detailedAddress" class="input-normal"
                                       placeholder="详细地址">
                            </td>
                        </tr>
                        <tr>
                            <th>联系人：</th>
                            <td>
                                <input type="text" name="contacts" id="contacts" class="input-normal" placeholder="联系人">
                            </td>
                        </tr>
                        <tr>
                            <th>联系电话：</th>
                            <td>
                                <input type="text" name="contactNumber" id="contactNumber" class="input-normal"
                                       placeholder="联系电话">
                            </td>
                        </tr>
                        <tr>
                            <th>营业执照：</th>
                            <td>
                                <input type="file" name="businessLicenseUri" id="businessLicenseUri"
                                       class="input-normal" placeholder="营业执照">
                            </td>
                        </tr>
                        <tr>
                            <th>管理员账号：</th>
                            <td>
                                <input type="text" name="adminAccount" id="adminAccount" class="input-normal"
                                       placeholder="管理员账号">
                            </td>
                        </tr>
                        <tr>
                            <th>管理员密码：</th>
                            <td>
                                <input type="password" name="adminPassword" id="adminPassword" class="input-normal"
                                       placeholder="管理员密码">
                            </td>
                        </tr>
                        <tr>
                            <th>备注：</th>
                            <td>
                                <textarea rows="" cols="" style="width: 250px; height: 60px;" class="input-normal"
                                          id="remarks" name="remarks" placeholder="备注"></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div style="text-align: center;">
                    <input type="submit" class="btn-lit" name="btnSave" value="保存" data-submiting-text="提交中..."
                           data-text="保存" id="jq-cms-Save">
                </div>
            </div>
        </form>
    </div>
</div>
<script>seajs.use(["validate", "message", "addSupplier"]);</script>
</body>
</html>