<!doctype html>
<html lang="en">
<head>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/weui.min.css">
    <link rel="stylesheet" type="text/css"
          href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/weui.min-xzlx-diy.css">
    <title>下拉列表</title>
</head>

<body>
<div class="xzlx-hot">
    <!---->
    <div class="dialog_mask"></div>
    <div class="app-edit swiper-container boxhot">
        <div class="superli clearfix editing">
            <div class="control-group">
                <div class="hr_screen">
                    <div class="custom-paixu-A">
                        <div>
                            <span class="custom-paixu">
                            <a href="javascript:;" class="on state_switch"> 目的地<i class="icon_sort_single"></i> </a>
                            <a> 排序<i class="icon_sort_single"></i> </a>
                            <a> 活动类型<i class="icon_sort_single"></i> </a>
                            <a> 路线类型<i class="icon_sort_single"></i> </a>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--选择目的地-->
            <div style="display:block" class="mdd">
                <div class="control-group">
                    <div class="custom-tag-list clearfix"
                         style="margin-top: 0px;border: 1px solid #ddd;border-top: 0px;">
                        <div class="custom-tag-list-menu-block js-collection-region" style="min-height: 200px;">
                            <ul class="custom-tag-list-side-menu">
                                <li class="ad current"><a href="javascript:;"> <span>北京</span> </a></li>
                                <li class="ad"><a href="javascript:;"> <span>浙江</span> </a></li>
                                <li class="ad"><a href="javascript:;"> <span>哈尔滨</span> </a></li>
                            </ul>
                        </div>
                        <div class="custom-tag-list-goods"
                             style="overflow:hidden;padding-bottom:10px; padding-top: 10px">
                            <ul class="ulxy">
                                <li class="ulli">
                                    <div class="ullidiv"><a href="javascript: void(0);" class="link js-goods clearfix">
                                        <div class="ullidd"> 西安</div>
                                    </a></div>
                                </li>
                                <li class="ulli">
                                    <div class="ullidiv"><a href="javascript: void(0);" class="link js-goods clearfix">
                                        <div class="ullidd"> 南京</div>
                                    </a></div>
                                </li>
                                <li class="ulli">
                                    <div class="ullidiv"><a href="javascript: void(0);" class="link js-goods clearfix">
                                        <div class="ullidd"> 成都</div>
                                    </a></div>
                                </li>
                                <li class="ulli">
                                    <div class="ullidiv"><a href="javascript: void(0);" class="link js-goods clearfix">
                                        <div class="ullidd"> 深圳</div>
                                    </a></div>
                                </li>
                                <li class="ulli">
                                    <div class="ullidiv"><a href="javascript: void(0);" class="link js-goods clearfix">
                                        <div class="ullidd"> 三亚</div>
                                    </a></div>
                                </li>
                                <li class="ulli">
                                    <div class="ullidiv"><a href="javascript: void(0);" class="link js-goods clearfix">
                                        <div class="ullidd"> 重庆</div>
                                    </a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--选择排序-->
            <div style="display:none">
                <div class="control-group">
                    <div class="custom-tag-list clearfix"
                         style="margin-top: 0px;border: 1px solid #ddd;border-top: 0px;min-height: 200px;">
                        <div class="custom-tag-list-goods"
                             style="overflow:hidden;padding-bottom:10px; padding-top: 10px">
                            <ul class="ulxy">
                                <li class="ulli">
                                    <div class="ullidiv on"><a href="javascript: void(0);"
                                                               class="link js-goods clearfix">
                                        <div class="ullidd"> 全部</div>
                                    </a></div>
                                </li>
                                <li class="ulli">
                                    <div class="ullidiv"><a href="javascript: void(0);" class="link js-goods clearfix">
                                        <div class="ullidd"> 佣金最高</div>
                                    </a></div>
                                </li>
                                <li class="ulli">
                                    <div class="ullidiv"><a href="javascript: void(0);" class="link js-goods clearfix">
                                        <div class="ullidd"> 采购最多</div>
                                    </a></div>
                                </li>
                            </ul>
                            <ul class="ulxy">
                                <li class="ulli">
                                    <div class="ullidiv"><a href="javascript: void(0);" class="link js-goods clearfix">
                                        <div class="ullidd"> 最新发布</div>
                                    </a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <div class="weui_tab_bd" style="padding-bottom:0px">
        <p style="height:50px;"></p>
        <div class="cont-zhbox">
            <div class="cont-zhbox-t"><a href="geren-index8.html" class="bz">
                <p class="cont-zhbox-img"><img src="../../assets/img/swiper-2.jpg"></p>
                <p class="cont-zhbox-nav"></p>
            </a>
                <div class="zhbox">
                    <div class="zh-wz">
                        <div class="zh-wz-x">
                            <p class="zh-wz-name">【朝圣之旅】西藏云南8日轻装游，赶快报名！</p>
                        </div>
                        <div class="zh-wz-time" style="padding-top: 10px"><span style="float:left">12月08号出发</span> <span
                                style="float:right; margin-right:10px;color:#FF5558; font-size: 16px;">￥199</span>
                            <p style="clear:both"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont-zhbox">
            <div class="cont-zhbox-t"><a href="geren-index8.html" class="bz">
                <p class="cont-zhbox-img"><img src="../../assets/img/swiper-2.jpg"></p>
                <p class="cont-zhbox-nav"></p>
            </a>
                <div class="zhbox">
                    <div class="zh-wz">
                        <div class="zh-wz-x">
                            <p class="zh-wz-name">【朝圣之旅】西藏云南8日轻装游，赶快报名！</p>
                        </div>
                        <div class="zh-wz-time" style="padding-top: 10px"><span style="float:left">12月08号出发</span> <span
                                style="float:right; margin-right:10px;color:#FF5558; font-size: 16px;">￥199</span>
                            <p style="clear:both"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont-zhbox">
            <div class="cont-zhbox-t"><a href="geren-index8.html" class="bz">
                <p class="cont-zhbox-img"><img src="../../assets/img/swiper-2.jpg"></p>
                <p class="cont-zhbox-nav"></p>
            </a>
                <div class="zhbox">
                    <div class="zh-wz">
                        <div class="zh-wz-x">
                            <p class="zh-wz-name">【朝圣之旅】西藏云南8日轻装游，赶快报名！</p>
                        </div>
                        <div class="zh-wz-time" style="padding-top: 10px"><span style="float:left">12月08号出发</span> <span
                                style="float:right; margin-right:10px;color:#FF5558; font-size: 16px;">￥199</span>
                            <p style="clear:both"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--底部高度-->
    <p style="height: 80px; clear: both"></p>
    <!--底部导航-->
    <div class="weui_navbar daohangs">
        <a href="index.html" class="weui_navbar_item weui_bar_item_on">
            <p class="kimg dhshouyeicon"></p>
            <p>首页</p>
        </a>
        <a href="search.html" class="weui_navbar_item ">
            <p class="kimg dhsousuoicon"></p>
            <p>搜索</p>
        </a>
        <a href="my.html" class="weui_navbar_item">
            <p class="kimg dhwodeicon"></p>
            <p> 我的</p>
        </a>
    </div>

    <!---->
</div>
</body>
<script>

</script>
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.js"></script>
<script type="text/javascript" src="js/w/swiper.animate1.0.2.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/swiper.min.js"></script>
</html>
