<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/weui.min.css">
    <link rel="stylesheet" type="text/css"
          href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/weui.min-xzlx-diy.css">
    <title>目的地</title>
</head>

<body>
<div class="xzlx-hot">
    <div class="app-edit swiper-container">
        <div class="superli clearfix editing">
            <!--/*@thymesVar id="destinationMaps" type="java.util.Map"*/-->
            <!--/*@thymesVar id="entry" type="java.util.Map.Entry<String,List<com.huotu.tourist.entity.TouristGood>>"*/-->
            <!--/*@thymesVar id="good" type="com.huotu.tourist.entity.TouristGood"*/-->
            <div class="control-group">
                <div class="custom-tag-list clearfix">
                    <div class="custom-tag-list-menu-block js-collection-region">
                        <ul class="custom-tag-list-side-menu menu">
                            <li class="current">
                                <a href="javascript:;"><span>全部</span></a>
                            </li>
                            <li class="ad" th:each="entry:${destinationMaps.entrySet()}">
                                <a href="javascript:;">
                                    <span th:text="${entry.key}">北京 </span>
                                </a>
                            </li>
                            <li class="ad"><a href="javascript:;"> <span>浙江</span> </a></li>
                            <li class="ad"><a href="javascript:;"> <span>哈尔滨</span> </a></li>
                            <li class="ad"><a href="javascript:;"> <span>川藏</span> </a></li>
                            <li class="ad"><a href="javascript:;"> <span>云南</span> </a></li>
                        </ul>
                    </div>
                    <div class="custom-tag-list-goods" style="overflow:hidden;padding-bottom:10px;">
                        <ul class="ulxy" th:each="entry : ${destinationMaps.entrySet()}" data-province="浙江"
                            th:attr="data-province=${entry.key}">
                            <li class="ulli" th:each="good : ${entry.value}">
                                <div class="ullidiv">
                                    <a href="destinationGoods.html"
                                       th:href="@{/wap/destinationGoods(type=1,value=${good.destination.town})}"
                                       class="link js-goods clearfix">
                                        <div class="ullidd" th:text="${good.destination.town}"> 西安</div>
                                    </a>
                                </div>
                            </li>
                            <li class="ulli">
                                <div class="ullidiv"><a href="destinationGoods.html" class="link js-goods clearfix">
                                    <div class="ullidd"> 西安</div>
                                </a></div>
                            </li>
                            <li class="ulli">
                                <div class="ullidiv"><a href="destinationGoods.html" class="link js-goods clearfix">
                                    <div class="ullidd"> 西安</div>
                                </a></div>
                            </li>
                            <li class="ulli">
                                <div class="ullidiv"><a href="destinationGoods.html" class="link js-goods clearfix">
                                    <div class="ullidd"> 南京</div>
                                </a></div>
                            </li>
                            <li class="ulli">
                                <div class="ullidiv"><a href="destinationGoods.html" class="link js-goods clearfix">
                                    <div class="ullidd"> 成都</div>
                                </a></div>
                            </li>
                        </ul>
                        <ul class="ulxy" data-province="北京">
                            <li class="ulli">
                                <div class="ullidiv"><a href="destinationGoods.html" class="link js-goods clearfix">
                                    <div class="ullidd"> 西安</div>
                                </a></div>
                            </li>
                            <li class="ulli">
                                <div class="ullidiv"><a href="destinationGoods.html" class="link js-goods clearfix">
                                    <div class="ullidd"> 西安</div>
                                </a></div>
                            </li>
                            <li class="ulli">
                                <div class="ullidiv"><a href="destinationGoods.html" class="link js-goods clearfix">
                                    <div class="ullidd"> 南京</div>
                                </a></div>
                            </li>
                            <li class="ulli">
                                <div class="ullidiv"><a href="destinationGoods.html" class="link js-goods clearfix">
                                    <div class="ullidd"> 成都</div>
                                </a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--底部高度-->
    <p style="height: 80px; clear: both"></p>
    <!--底部导航-->
    <div class="weui_navbar daohangs">
        <a href="index.html" th:href="@{/wap/}" class="weui_navbar_item">
            <p class="kimg dhshouyeicon"></p>
            <p>首页</p>
        </a>
        <a href="search.html" class="weui_navbar_item " th:href="@{/wap/showSearchView}">
            <p class="kimg dhsousuoicon"></p>
            <p>搜索</p>
        </a>
        <a href="my.html" class="weui_navbar_item" th:href="@{/wap/showMyInfo}">
            <p class="kimg dhwodeicon"></p>
            <p> 我的</p>
        </a>
    </div>

</div>
</body>
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.js"></script>
<script type="text/javascript" src="js/w/swiper.animate1.0.2.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/swiper.min.js"></script>
<script>
    $(function () {
        $(".menu li").click(function () {
            $(this).addClass("current");
            $(this).siblings().removeClass("current");
            if ($(this).find("span").text().trim() == "全部") {
                $(".custom-tag-list-goods ul").show();
            } else {
                var text = $(this).find("span").text().trim();
                $(".custom-tag-list-goods ul").each(function () {
                    if ($(this).attr("data-province") == text) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }
        });
    })
</script>
</html>
