<!doctype html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/weui.min.css">
    <link rel="stylesheet" type="text/css"
          href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/weui.min-xzlx-diy.css">
    <title>首页</title>
</head>

<body class="bac">
<div class="scrollable-content">
    <!--轮播-->
    <div class="xzlx-hot">
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="../../assets/img/swiper-1.jpg"/></div>
                <div class="swiper-slide"><img src="../../assets/img/swiper-2.jpg"/></div>
                <div class="swiper-slide"><img src="../../assets/img/swiper-1.jpg"/></div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <!--分类图标-->
        <div>
            <div class="weui_navbar">
                <a href="javascript:;" class="weui_tabbar_item">
                    <div class="weui_tabbar_icon"><img src="../../assets/img/mdd.png" alt=""></div>
                    <p class="weui_tabbar_label">目的地</p>
                </a>
                <a href="javascript:;" class="weui_tabbar_item">
                    <div class="weui_tabbar_icon"><img src="../../assets/img/cty.png" alt=""></div>
                    <p class="weui_tabbar_label">长途游</p>
                </a>
                <a href="javascript:;" class="weui_tabbar_item">
                    <div class="weui_tabbar_icon"><img src="../../assets/img/dty.png" alt=""></div>
                    <p class="weui_tabbar_label">短途游</p>
                </a>
                <a href="javascript:;" class="weui_tabbar_item">
                    <div class="weui_tabbar_icon"><img src="../../assets/img/jwy.png" alt=""></div>
                    <p class="weui_tabbar_label">境外游</p>
                </a>
            </div>
            <div class="weui_navbar" style="padding-bottom:10px;">
                <a href="javascript:;" class="weui_tabbar_item">
                    <div class="weui_tabbar_icon"><img src="../../assets/img/hdlx.png" alt=""></div>
                    <p class="weui_tabbar_label">活动类型</p>
                </a>
                <a href="javascript:;" class="weui_tabbar_item">
                    <div class="weui_tabbar_icon"><img src="../../assets/img/rmlx.png" alt=""></div>
                    <p class="weui_tabbar_label">热门路线</p>
                </a>
                <a href="javascript:;" class="weui_tabbar_item">
                    <div class="weui_tabbar_icon"><img src="../../assets/img/jchg.png" alt=""></div>
                    <p class="weui_tabbar_label">精彩回顾</p>
                </a>
                <a href="buyerApply.html" class="weui_tabbar_item">
                    <div class="weui_tabbar_icon"><img src="../../assets/img/sqcg.png" alt=""></div>
                    <p class="weui_tabbar_label">申请采购权</p>
                </a>
            </div>
        </div>
        <!--热门路线-->
        <div class="weui_cells weui_cells_access">
            <a class="weui_cell" href="6-mddxl.html">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>热门路线</p>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
        </div>
        <div class="weui_tab_bd" style="padding-bottom:0px">
            <div class="cont-zhbox">
                <div class="cont-zhbox-t"><a href="touristGoodInfo.html" class="bz">
                    <p class="cont-zhbox-img"><img src="../../assets/img/swiper-2.jpg"></p>
                    <p class="cont-zhbox-nav"></p>
                </a>
                    <div class="zhbox">
                        <div class="zh-wz">
                            <div class="zh-wz-x">
                                <p class="zh-wz-name">【朝圣之旅】西藏云南8日轻装游，赶快报名！</p>
                            </div>
                            <div class="zh-wz-time" style="padding-top: 10px"><span style="float:left">12月08号出发</span>
                                <span style="float:right; margin-right:10px;color:#FF5558; font-size: 16px;">￥199</span>
                                <p style="clear:both"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cont-zhbox">
                <div class="cont-zhbox-t"><a href="geren-index8.html" class="bz">
                    <p class="cont-zhbox-img"><img src="../../assets/img/swiper-2.jpg"></p>
                    <p class="cont-zhbox-nav"></p>
                </a>
                    <div class="zhbox">
                        <div class="zh-wz">
                            <div class="zh-wz-x">
                                <p class="zh-wz-name">【朝圣之旅】西藏云南8日轻装游，赶快报名！</p>
                            </div>
                            <div class="zh-wz-time" style="padding-top: 10px"><span style="float:left">12月08号出发</span>
                                <span style="float:right; margin-right:10px;color:#FF5558; font-size: 16px;">￥199</span>
                                <p style="clear:both"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cont-zhbox">
                <div class="cont-zhbox-t"><a href="geren-index8.html" class="bz">
                    <p class="cont-zhbox-img"><img src="../../assets/img/swiper-2.jpg"></p>
                    <p class="cont-zhbox-nav"></p>
                </a>
                    <div class="zhbox">
                        <div class="zh-wz">
                            <div class="zh-wz-x">
                                <p class="zh-wz-name">【朝圣之旅】西藏云南8日轻装游，赶快报名！</p>
                            </div>
                            <div class="zh-wz-time" style="padding-top: 10px"><span style="float:left">12月08号出发</span>
                                <span style="float:right; margin-right:10px;color:#FF5558; font-size: 16px;">￥199</span>
                                <p style="clear:both"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--活动类型-->
        <div class="weui_cells weui_cells_access"><a class="weui_cell" href="javascript:;">
            <div class="weui_cell_bd weui_cell_primary">
                <p>活动类型</p>
            </div>
            <div class="weui_cell_ft"></div>
        </a></div>
        <div class="weui_navbar">
            <!--weui_bar_item_on选中状态-->
            <div class="weui_navbar_item lxlx"> 登山</div>
            <div class="weui_navbar_item lxlx"> 徒步</div>
            <div class="weui_navbar_item lxlx"> 自驾</div>
        </div>
        <div class="weui_navbar">
            <div class="weui_navbar_item lxlx "> 露营</div>
            <div class="weui_navbar_item lxlx"> 潜水</div>
            <div class="weui_navbar_item lxlx"> 滑雪</div>
        </div>
        <div class="weui_navbar">
            <div class="weui_navbar_item lxlx"> 垂钓</div>
            <div class="weui_navbar_item lxlx"> 冲浪</div>
            <div class="weui_navbar_item lxlx"> 攀岩</div>
        </div>
        <!--最新路线-->
        <div class="weui_cells weui_cells_access" style="margin-top:8px;"><a class="weui_cell" href="javascript:;">
            <div class="weui_cell_bd weui_cell_primary">
                <p>最新路线</p>
            </div>
            <div class="weui_cell_ft"></div>
        </a></div>
        <div class="leftboxtwo">
            <div class="cont-zhbox" style="margin: 0px">
                <div class="cont-zhbox-t" style="border-radius: 0px; padding: 0px"><a href="geren-index8.html"
                                                                                      class="bz">
                    <p class="cont-zhbox-img" style="margin: 0px"><img src="../../assets/img/a1.jpg"></p>
                    <p class="cont-zhbox-nav"></p>
                </a>
                    <div class="zhbox" style="margin: 7px 3px;">
                        <div class="zh-wz">
                            <div class="zh-wz-x">
                                <div class="zh-wz-name" style="margin: 0px 4px;">西藏云南8日轻装游，赶快报名！</div>
                            </div>
                            <div class="zh-wz-time"><span
                                    style="float:left;color:#FF5558;font-size: 16px;padding: 8px 0px 3px 0px;">￥199</span>
                                <p style="clear:both"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="leftboxtwo">
            <div class="cont-zhbox" style="margin: 0px">
                <div class="cont-zhbox-t" style="border-radius: 0px; padding: 0px"><a href="geren-index8.html"
                                                                                      class="bz">
                    <p class="cont-zhbox-img" style="margin: 0px"><img src="../../assets/img/a1.jpg"></p>
                    <p class="cont-zhbox-nav"></p>
                </a>
                    <div class="zhbox" style="margin: 7px 3px;">
                        <div class="zh-wz">
                            <div class="zh-wz-x">
                                <div class="zh-wz-name" style="margin: 0px 4px;">西藏云南8日轻装游，赶快报名！</div>
                            </div>
                            <div class="zh-wz-time"><span
                                    style="float:left;color:#FF5558;font-size: 16px;padding: 8px 0px 3px 0px;">￥199</span>
                                <p style="clear:both"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="leftboxtwo">
            <div class="cont-zhbox" style="margin: 0px">
                <div class="cont-zhbox-t" style="border-radius: 0px; padding: 0px"><a href="geren-index8.html"
                                                                                      class="bz">
                    <p class="cont-zhbox-img" style="margin: 0px"><img src="../../assets/img/a1.jpg"></p>
                    <p class="cont-zhbox-nav"></p>
                </a>
                    <div class="zhbox" style="margin: 7px 3px;">
                        <div class="zh-wz">
                            <div class="zh-wz-x">
                                <div class="zh-wz-name" style="margin: 0px 4px;">西藏云南8日轻装游，赶快报名！</div>
                            </div>
                            <div class="zh-wz-time"><span
                                    style="float:left;color:#FF5558;font-size: 16px;padding: 8px 0px 3px 0px;">￥199</span>
                                <p style="clear:both"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="leftboxtwo">
            <div class="cont-zhbox" style="margin: 0px">
                <div class="cont-zhbox-t" style="border-radius: 0px; padding: 0px"><a href="geren-index8.html"
                                                                                      class="bz">
                    <p class="cont-zhbox-img" style="margin: 0px"><img src="../../assets/img/a1.jpg"></p>
                    <p class="cont-zhbox-nav"></p>
                </a>
                    <div class="zhbox" style="margin: 7px 3px;">
                        <div class="zh-wz">
                            <div class="zh-wz-x">
                                <div class="zh-wz-name" style="margin: 0px 4px;">西藏云南8日轻装游，赶快报名！</div>
                            </div>
                            <div class="zh-wz-time"><span
                                    style="float:left;color:#FF5558;font-size: 16px;padding: 8px 0px 3px 0px;">￥199</span>
                                <p style="clear:both"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="leftboxtwo">
            <div class="cont-zhbox" style="margin: 0px">
                <div class="cont-zhbox-t" style="border-radius: 0px; padding: 0px"><a href="geren-index8.html"
                                                                                      class="bz">
                    <p class="cont-zhbox-img" style="margin: 0px"><img src="../../assets/img/a1.jpg"></p>
                    <p class="cont-zhbox-nav"></p>
                </a>
                    <div class="zhbox" style="margin: 7px 3px;">
                        <div class="zh-wz">
                            <div class="zh-wz-x">
                                <div class="zh-wz-name" style="margin: 0px 4px;">西藏云南8日轻装游，赶快报名！</div>
                            </div>
                            <div class="zh-wz-time"><span
                                    style="float:left;color:#FF5558;font-size: 16px;padding: 8px 0px 3px 0px;">￥199</span>
                                <p style="clear:both"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="leftboxtwo">
            <div class="cont-zhbox" style="margin: 0px">
                <div class="cont-zhbox-t" style="border-radius: 0px; padding: 0px"><a href="geren-index8.html"
                                                                                      class="bz">
                    <p class="cont-zhbox-img" style="margin: 0px"><img src="../../assets/img/a1.jpg"></p>
                    <p class="cont-zhbox-nav"></p>
                </a>
                    <div class="zhbox" style="margin: 7px 3px;">
                        <div class="zh-wz">
                            <div class="zh-wz-x">
                                <div class="zh-wz-name" style="margin: 0px 4px;">西藏云南8日轻装游，赶快报名！</div>
                            </div>
                            <div class="zh-wz-time"><span
                                    style="float:left;color:#FF5558;font-size: 16px;padding: 8px 0px 3px 0px;">￥199</span>
                                <p style="clear:both"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="weui-infinite-scroll">
            <div class="infinite-preloader"></div>
            滑动加载更多
        </div>

        <!--底部高度-->
        <p style="height: 80px; clear: both"></p>
        <!--底部导航-->
        <div class="weui_navbar daohangs">
            <a href="index.html" class="weui_navbar_item weui_bar_item_on">
                <p class="kimg dhshouyeicon"></p>
                <p>首页</p>
            </a>
            <a href="search.html" class="weui_navbar_item ">
                <p class="kimg dhsousuoicon"></p>
                <p>搜索</p>
            </a>
            <a href="my.html" class="weui_navbar_item">
                <p class="kimg dhwodeicon"></p>
                <p> 我的</p>
            </a>
        </div>

        <!---->
    </div>
</div>
</body>
</html>
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.js"></script>
<script type="text/javascript" src="js/w/swiper.animate1.0.2.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/swiper.min.js"></script>
<script>
    $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
    });
</script>