<!doctype html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns:res="http://resource.jiangcai.me" lang="en">
<head>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/weui.min.css">
    <link rel="stylesheet" type="text/css"
          href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/weui.min-xzlx-diy.css">
    <title>我的</title>
</head>
<!--/*@thymesVar id="headUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="buyer" type="com.huotu.tourist.entity.TouristBuyer"*/-->
<!--/*@thymesVar id="allNotFinish" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="allFinish" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="allInvalid" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="commission" type="java.math.BigDecimal"*/-->
<body class="bac">
<div class="xzlx-hot">
    <div class="swiper-container">
        <div class="f-bigbox">
            <div class="fa-bigbox">
                <p class="f-moren-q">
                <img style="width:54px; height:54px;" th:src="@{${headUrl}}" src="../../assets/img/imgsss.png"></p>
                <div style="padding-bottom: 8px;">
                    <p class="phone" th:text="${buyer.nickname}">刘琳</p>
                </div>
                <p style="clear:both"></p>
            </div>
        </div>
        <div class="weui_cells weui_cells_access">
            <a class="weui_cell" th:href="@{/wap/showAllOrders}" href="allOrder.html">
                <div class="weui_cell_hd">
                    <img src="../../assets/img/cg.png" alt=""
                                               style="width:20px;margin-right:5px;display:block">
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>我的采购</p>
                </div>
                <div class="weui_cell_ft" style="font-size: 14px;">查看全部采购</div>
            </a>
        </div>
        <div class="weui_navbar">
            <a href="javascript:;" class="weui_tabbar_item">

                <p class="weui_tabbar_label" style="font-size: 20px;color: #ff9935;" th:text="${allNotFinish}">120</p>
                <p class="weui_tabbar_label">进行中</p>
            </a>
            <a href="javascript:;" class="weui_tabbar_item">
                <p class="weui_tabbar_label" style="font-size: 20px;color: #ff9935;" th:text="${allFinish}">120</p>
                <p class="weui_tabbar_label">已完成</p>
            </a>
            <a href="javascript:;" class="weui_tabbar_item">
                <p class="weui_tabbar_label" style="font-size: 20px;color: #ff9935;" th:text="${allInvalid}">120</p>
                <p class="weui_tabbar_label">已取消</p>
            </a>
        </div>

        <div class="weui_cells weui_cells_access" style="margin-top: 10px;">
            <a class="weui_cell">
                <div class="weui_cell_hd"><img src="../../assets/img/yj.png" alt=""
                                               style="width:20px;margin-right:5px;display:block"></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>我的总收益</p>
                </div>

                <!--<div class="weui_cell_ft" style="font-size: 14px;" th:text="'￥'+${commission}">￥2010.00</div>-->
            </a>
        </div>
        <div class="txmoney">
            <p class="red"  th:text="'￥'+${commission==null?0:commission}">￥209.00</p>
            <!--<p class="hui">可提现总金额/元</p>-->
        </div>
        <div style="margin: 10px">
            <a th:href="@{${mallUrl}}" href="javascript:;" class="weui_btn weui_btn_primary">提现</a>
            <p class="txtxtx" onclick="showDepositInfo()">查看提现明细</p>
            <div class="txtxsm" style="display: none">
                <p>提现说明</p>
                <p> 提现说明提现提现说明提现说明提现说明提现说明提现说明提现说
                    明提现说明提现说明提现说明提现说明提现说明提现说明提现
                    说明提现说明提现说明提现说明说明提现说明提现说明</p>
            </div>
        </div>
    </div>
    <!--底部高度-->
    <p style="height: 80px; clear: both"></p>
    <!--底部导航-->
    <div class="weui_navbar daohangs">
        <a th:href="@{/wap/}" href="index.html" class="weui_navbar_item">
            <p class="kimg dhshouyeicon"></p>
            <p>首页</p>
        </a>
        <a th:href="@{/wap/showSearchView}" href="search.html" class="weui_navbar_item">
            <p class="kimg dhsousuoicon"></p>
            <p>搜索</p>
        </a>
        <a th:href="@{/wap/showMyInfo}" href="my.html" class="weui_navbar_item weui_bar_item_on">
            <p class="kimg dhwodeicon"></p>
            <p>我的</p>
        </a>
    </div>

</div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var mallUrl = /*[[${mallUrl}]]*/ "";

    /*]]>*/

</script>
</body>
</html>
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.js"></script>
<script type="text/javascript" src="js/w/swiper.animate1.0.2.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/swiper.min.js"></script>

<script>
    var showDepositInfo=function(){
        $(".txtxsm").toggle("normal");
    };

</script>