<!doctype html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/weui.min.css">
    <link rel="stylesheet" type="text/css"
          href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/weui.min-xzlx-diy.css">
    <title>全部采购单</title>
</head>

<body class="bac">
<div class="xzlx-hot">
    <div class="swiper-container">
        <!---->
        <div class="xiaofeijilv">
            <ul>
                <li class="t">
                    <div class="DDH"><span>订单编号：201604943218493</span>
                        <p style="clear:both"></p>
                    </div>
                    <div class="ts">
                        <div class="dx"><a href="">
                            <div class="pic"><img src="../../assets/img/imgsss.png"></div>
                            <div class="con">
                                <p style="color:#000; margin-bottom:2px">【朝圣之旅】西藏云南8日轻装游，赶快报名！</p>
                                <p style="color:#000;">x1</p>
                            </div>
                            <p style="clear:both"></p>
                        </a></div>
                    </div>
                    <div style="font-size:12px; padding:6px 10px;">
                        <p style="float:right">共<span>3</span>人,总计：￥<span>199.00</span></p>
                        <p style="float:left;color:#999">2015-10-10 16:15</p>
                        <p style="clear:both"></p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="weui_cells_title"> 人员信息</div>
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_text massgea">
                <h4 class="weui_media_title">里里<i style="color: #808080; font-size: 12px; font-style: normal">&nbsp;/&nbsp;女</i>
                </h4>
                <p class="weui_media_desc ztdx">年龄:23</p>
                <p class="weui_media_desc ztdx">联系电话:1563232323</p>
                <p class="weui_media_desc ztdx">身份证号:332325******256569</p>
            </div>
            <div class="weui_media_box weui_media_text massgea">
                <h4 class="weui_media_title">等等<i style="color: #808080; font-size: 12px; font-style: normal">&nbsp;/&nbsp;女</i>
                </h4>
                <p class="weui_media_desc ztdx">年龄:21</p>
                <p class="weui_media_desc ztdx">联系电话:1563232323</p>
                <p class="weui_media_desc ztdx">身份证号:332325******256569</p>
            </div>
            <div class="weui_media_box weui_media_text massgea">
                <h4 class="weui_media_title">发发<i style="color: #808080; font-size: 12px; font-style: normal">&nbsp;/&nbsp;男</i>
                </h4>
                <p class="weui_media_desc ztdx">年龄:26</p>
                <p class="weui_media_desc ztdx">联系电话:1563232323</p>
                <p class="weui_media_desc ztdx">身份证号:332325******256569</p>
            </div>
        </div>
        <div class="weui_cells_title"> 备注</div>
        <div style="background-color: #fff; font-size:14px; color: #333; padding: 15px;">
            西藏云南8日轻装游，赶快报名！西藏云南8日轻装游，赶快报名！西藏云南8日轻装游，赶快报名！西藏云南8日轻装游，赶快报名！西藏云南8日轻装游，赶快报名！
        </div>
        <div class="weui_cells weui_cells_access" style="margin-top: 10px"><a class="weui_cell" href="javascript:;">
            <div class="weui_media_box weui_media_text" style="padding: 0px; width: 100%">
                <div class="weui_media_hd imgleft"><img class="weui_media_appmsg_thumb"
                                                        src="../../assets/img/imgsss.png" alt=""></div>
                <h4 class="weui_media_title">乌鲁木齐俱乐部</h4>
                <ul class="weui_media_info" style="margin-top: 4px;line-height: 1.3em;">
                    <li class="weui_media_info_meta">地接人：王剑南</li>
                    <li class="weui_media_info_meta">联系电话：0571-13205713331</li>
                </ul>
            </div>
            <span class="weui_cell_ft"></span> </a></div>
    </div>
    <div class="weui_cells_title"> 支付信息</div>
    <div class="weui_cells">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>积分</p>
            </div>
            <div class="weui_cell_ft twossw">-￥20.0</div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>余额</p>
            </div>
            <div class="weui_cell_ft twossw">-￥20.0</div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>小金库</p>
            </div>
            <div class="weui_cell_ft twossw">-￥20.0</div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>已支付</p>
            </div>
            <div class="weui_cell_ft twossw" style="font-weight: bold; font-size: 16px;">￥200.0</div>
        </div>
    </div>
    <div style=" margin: 10px;">
        <a href="javascript:;" class="weui_btn weui_btn_warn">取消订单</a>
    </div>


    <!--底部高度-->
    <p style="height: 80px; clear: both"></p>
    <!--底部导航-->
    <div class="weui_navbar daohangs"><a href="javascript:void(0);" class="weui_navbar_item">
        <p class="kimg dhshouyeicon"></p>
        <p>首页</p>
    </a> <a href="javascript:void(0);" class="weui_navbar_item ">
        <p class="kimg dhsousuoicon"></p>
        <p>搜索</p>
    </a> <a href="javascript:void(0);" class="weui_navbar_item weui_bar_item_on">
        <p class="kimg dhwodeicon"></p>
        <p> 我的</p>
    </a></div>

    <!---->
</div>
</body>
</html>
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.js"></script>
<script type="text/javascript" src="js/w/swiper.animate1.0.2.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/swiper.min.js"></script>