<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/weui.min.css">
    <link rel="stylesheet" type="text/css"
          href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/weui.min-xzlx-diy.css">
    <title>采购订单支付成功</title>
</head>

<body class="bac">
<div class="xzlx-hot">
    <div class="swiper-container">
        <div class="weui_msg">
            <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
            <div class="weui_text_area">
                <h2 class="weui_msg_title">采购单支付成功！</h2>
                <!-- todo 订单详细页面-->
                <a href="orderInfo.html" th:href="@{/wap/showOrderInfo(mallOrderNo=${mallOrderNo})}">
                    <p class="weui_msg_desc">查看采购单</p>
                </a>
            </div>
        </div>
        <div class="weui_cells weui_cells_access" style="margin-top:8px;">
            <a class="weui_cell" href="javascript:;">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>热门路线</p>
                </div>
            </a>
        </div>
        <div class="app-edit ">
            <a href="recommendTourist.html" class="nextJScroll"
               th:href="@{/wap/recommendTourist(offset=0)}">&nbsp;</a>
        </div>
    </div>

    <!--底部高度-->
    <p style="height: 80px; clear: both"></p>
    <!--底部导航-->
    <div class="weui_navbar daohangs">
        <a href="index.html" class="weui_navbar_item weui_bar_item_on">
            <p class="kimg dhshouyeicon"></p>
            <p>首页</p>
        </a>
        <a href="search.html" class="weui_navbar_item ">
            <p class="kimg dhsousuoicon"></p>
            <p>搜索</p>
        </a>
        <a href="my.html" class="weui_navbar_item">
            <p class="kimg dhwodeicon"></p>
            <p> 我的</p>
        </a>
    </div>

    <!---->
</div>
</body>
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="../../assets/js/jquery.jscroll.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.js"></script>
<script type="text/javascript" src="js/w/swiper.animate1.0.2.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/swiper.min.js"></script>
<script>
    $('.app-edit').jscroll({
        debug: true,
        loadingHtml: '<div class="weui-infinite-scroll"><div class="infinite-preloader"></div>滑动加载更多</div>'
    });
</script>
</html>
