<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="mallIntegral" type="java.lang.Number"*/-->
<!--/*@thymesVar id="mallBalance" type="java.lang.Number"*/-->
<!--/*@thymesVar id="mallCoffers" type="java.lang.Number"*/-->
<head>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/weui.min.css">
    <link rel="stylesheet" type="text/css"
          href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/weui.min-xzlx-diy.css">
    <title>立即采购</title>
</head>

<body class="bac">
<div class="weui_cells_title"> 采购信息</div>
<div class="content" style="background-color: #fff; padding:8px;">
    <div class="number-control" style="margin:0px 20px;">
        <p style="float: left; margin-top:3px;">成人：</p>
        <div class="mui-number" style="float: right">
            <button type="button" class="decrease disabled priceDecrease">-</button>
            <input type="number" readonly class="num" value="0" min="0" max="205" step="" name="adult">
            <button type="button" class="increase priceIncrease">+</button>
        </div>
    </div>
    <p style="clear: both;"></p>
</div>
<div class="content" style="background-color: #fff; padding:8px;border-top:1px solid #ececec;">
    <div class="number-control" style="margin:0px 20px;">
        <p style="float: left; margin-top:3px;">儿童：</p>
        <div class="mui-number" style="float: right">
            <button type="button" class="decrease disabled childPriceDecrease">-</button>
            <input type="number" readonly class="num" value="0" min="0" max="205" step="" name="children">
            <button type="button" class="increase childPriceIncrease">+</button>
        </div>
    </div>
    <p style="clear: both;"></p>
</div>
<div class="content" style="background-color: #fff; padding:8px;border-top:1px solid #ececec;">
    <div class="number-control" style="margin:0px 20px;">
        <p style="float: left; margin-top:3px;">采购价格：</p>
        <p style="float:right;color:#FF5558;" class="money">￥0.00</p>
    </div>
    <p style="clear: both;"></p>
</div>
<div class="items">
    <!--<div class="item adultDiv">-->
    <!--<div class="weui_cells_title"> 请填写人员正确信息-->
    <!--<img src="../../assets/img/ddd.png"-->
    <!--style="width: 17px;float: right;vertical-align: middle;" class="delete">-->
    <!--</div>-->
    <!--<div class="weui_cells weui_cells_form">-->
    <!--<div class="weui_cell">-->
    <!--<div class="weui_cell_bd weui_cell_primary">-->
    <!--<input type="hidden" class="travelerType" name="travelerType" value="0">-->
    <!--<input class="weui_input" type="text" name="name" placeholder="姓名">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="weui_cell">-->
    <!--<div class="weui_cell_bd weui_cell_primary">-->
    <!--<input class="weui_input" type="tel" name="telPhone" placeholder="手机号">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="weui_cell">-->
    <!--<div class="weui_cell_bd weui_cell_primary">-->
    <!--<input class="weui_input" type="text" name="IDNo" placeholder="身份证">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="weui_cell">-->
    <!--<div class="weui_cell_bd weui_cell_primary">-->
    <!--<input class="weui_input" type="number" name="age" placeholder="年龄">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="weui_cell weui_cell_select">-->
    <!--<div class="weui_cell_bd weui_cell_primary">-->
    <!--<select class="weui_select" name="sex" style="color:#a9a9a9;">-->
    <!--<option selected="" value="0">男</option>-->
    <!--<option value="1">女</option>-->
    <!--</select>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->
</div>
<div class="itemTemplate item " style="display: none">
    <div class="weui_cells_title"> 请填写人员正确信息
        <img src="../../assets/img/ddd.png"
             style="width: 17px;float: right;vertical-align: middle;" class="delete">
    </div>
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <input type="hidden" class="travelerType" name="travelerType" value="0">
                <input class="weui_input" type="text" name="name" placeholder="姓名">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="tel" name="telPhone" placeholder="手机号">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="text" name="IDNo" placeholder="身份证">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="number" name="age" placeholder="年龄">
            </div>
        </div>
        <div class="weui_cell weui_cell_select">
            <div class="weui_cell_bd weui_cell_primary">
                <select class="weui_select" name="sex" style="color:#a9a9a9;">
                    <option selected="" value="0">男</option>
                    <option value="1">女</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="weui_cells_title">备注</div>
<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <textarea class="weui_textarea" name="remark" placeholder="备注" rows="3"></textarea>
            <div class="weui_textarea_counter"><span>0</span>/200</div>
        </div>
    </div>
</div>
<div class="weui_cells_title">账户抵扣</div>
<div class="weui_cells weui_cells_checkbox">
    <label class="weui_cell weui_check_label" for="s11" th:if="${mallIntegral>0}">
        <div class="weui_cell_bd weui_cell_primary">
            <p>使用积分
                <span class="twoss" data-name="mallIntegral" data-value="20" th:attr="data-value=${mallIntegral}"
                      th:text="${mallIntegral}+'积分'">20
                    积分</span>
                <span class="twossw mallIntegral" data-name="mallIntegral">减￥0</span>
            </p>
        </div>
        <div class="weui_cell_hd">
            <input type="checkbox" class="weui_check" name="mallIntegral" id="s11" data-value="100">
            <i class="weui_icon_checked"></i>
        </div>
    </label>
    <label class="weui_cell weui_check_label" for="s12" th:if="${mallBalance>0}">
        <div class="weui_cell_bd weui_cell_primary">
            <p>使用余额
                <span class="twoss" data-name="mallBalance" data-value="20" th:attr="data-value=${mallBalance}"
                      th:text="'￥'+${mallBalance}">￥20
                    .0</span>
                <span class="twossw mallBalance" data-name="mallBalance">减￥0</span>
            </p>
        </div>
        <div class="weui_cell_hd">
            <input type="checkbox" class="weui_check" name="mallBalance" id="s12">
            <i class="weui_icon_checked"></i>
        </div>
    </label>
    <label class="weui_cell weui_check_label" for="s13" th:if="${mallCoffers>0}">
        <div class="weui_cell_bd weui_cell_primary">
            <p>使用小金库
                <span class="twoss" data-name="mallCoffers" data-value="20" th:attr="data-value=${mallCoffers}"
                      th:text="'￥'+${mallCoffers}">￥20
                    .0</span>
                <span class="twossw mallCoffers" data-name="mallCoffers">减￥0</span>
            </p>
        </div>
        <div class="weui_cell_hd">
            <input type="checkbox" class="weui_check" name="mallCoffers" id="s13">
            <i class="weui_icon_checked"></i>
        </div>
    </label>
</div>
<p style="height: 60px;"></p>
<div class="xzlx-hot">
    <div class="item-action">
        <div class="moneypay">应付￥10.00</div>
        <div class="buy-now yuanjiaoo">
            <a id="submitBtn">提交采购订单</a>
        </div>
    </div>
</div>
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.js"></script>
<script type="text/javascript" src="js/w/swiper.animate1.0.2.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/swiper.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    var addOrderUrl = /*[[@{/wap/addOrderInfo}]]*/ '../../mock/httpJson.json';

    var toOrderInfoPage = /*[[@{/wap/toProcurementPayPage}]]*/ 'procurementPayPage.html';

    var goodId = /*[[${good.id}]]*/ 0;

    var routeId = /*[[${routeId}]]*/ 0;

    //剩余人数
    var amount = /*[[${amount}]]*/ 4;
    //成人价格
    var price = /*[[${good.price}]]*/ 10;
    //儿童价格
    var childPrice = /*[[${good.price*(good.childrenDiscount/10)}]]*/ 8;

</script>
<script src="../../assets/js/wap/toPay.js" th:src="@{/assets/js/wap/toPay.js}"></script>
</body>

</html>
