<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/weui.min.css">
    <link rel="stylesheet" type="text/css"
          href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/weui.min-xzlx-diy.css">
    <title>立即采购</title>
</head>

<body class="bac">
<div class="weui_cells_title"> 采购信息</div>
<div class="content" style="background-color: #fff; padding:8px;">
    <div class="number-control" style="margin:0px 20px;">
        <p style="float: left; margin-top:3px;">成人：</p>
        <div class="mui-number" style="float: right">
            <button type="button" class="decrease disabled priceDecrease">-</button>
            <input type="number" readonly class="num" value="1" min="0" max="205" step="" name="adult">
            <button type="button" class="increase priceIncrease">+</button>
        </div>
    </div>
    <p style="clear: both;"></p>
</div>
<div class="content" style="background-color: #fff; padding:8px;border-top:1px solid #ececec;">
    <div class="number-control" style="margin:0px 20px;">
        <p style="float: left; margin-top:3px;">儿童：</p>
        <div class="mui-number" style="float: right">
            <button type="button" class="decrease disabled childPriceDecrease">-</button>
            <input type="number" readonly class="num" value="0" min="0" max="205" step="" name="children">
            <button type="button" class="increase childPriceIncrease">+</button>
        </div>
    </div>
    <p style="clear: both;"></p>
</div>
<div class="content" style="background-color: #fff; padding:8px;border-top:1px solid #ececec;">
    <div class="number-control" style="margin:0px 20px;">
        <p style="float: left; margin-top:3px;">采购价格：</p>
        <p style="float:right;color:#FF5558;" class="money">￥1999.00</p>
    </div>
    <p style="clear: both;"></p>
</div>
<div class="items">
    <!---->
    <div class="item adultDiv">
        <div class="weui_cells_title"> 请填写人员正确信息
            <img src="../../assets/img/ddd.png"
                 style="width: 17px;float: right;vertical-align: middle;" class="delete">
        </div>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <input type="hidden" class="travelerType" name="travelerType" value="0">
                    <input class="weui_input" type="text" name="" placeholder="姓名">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="tel" placeholder="手机号">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="text" placeholder="身份证">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="number" placeholder="年龄">
                </div>
            </div>
            <div class="weui_cell weui_cell_select">
                <div class="weui_cell_bd weui_cell_primary">
                    <select class="weui_select" name="select1" style="color:#a9a9a9;">
                        <option selected="" value="1">男</option>
                        <option value="2">女</option>
                    </select>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="itemTemplate item " style="display: none">
    <div class="weui_cells_title"> 请填写人员正确信息
        <img src="../../assets/img/ddd.png"
             style="width: 17px;float: right;vertical-align: middle;" class="delete">
    </div>
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <input type="hidden" class="travelerType" name="travelerType" value="1">
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="text" placeholder="姓名">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="tel" placeholder="手机号">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="tel" placeholder="身份证">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="number" placeholder="年龄">
            </div>
        </div>
        <div class="weui_cell weui_cell_select">
            <div class="weui_cell_bd weui_cell_primary">
                <select class="weui_select" name="select1" style="color:#a9a9a9;">
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="weui_cells_title">备注</div>
<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <textarea class="weui_textarea" placeholder="备注" rows="3"></textarea>
            <div class="weui_textarea_counter"><span>0</span>/200</div>
        </div>
    </div>
</div>
<div class="weui_cells_title">账户抵扣</div>
<div class="weui_cells weui_cells_checkbox">
    <label class="weui_cell weui_check_label" for="s11">
        <div class="weui_cell_bd weui_cell_primary">
            <p>使用积分<span class="twoss">2000积分</span><span class="twossw">减￥20.0</span></p>
        </div>
        <div class="weui_cell_hd">
            <input type="checkbox" class="weui_check" name="checkbox1" id="s11" checked="checked">
            <i class="weui_icon_checked"></i>
        </div>
    </label>
    <label class="weui_cell weui_check_label" for="s12">
        <div class="weui_cell_bd weui_cell_primary">
            <p>使用余额<span class="twoss">￥20.0</span><span class="twossw">减￥20.0</span></p>
        </div>
        <div class="weui_cell_hd">
            <input type="checkbox" class="weui_check" name="checkbox1" id="s12" checked="checked">
            <i class="weui_icon_checked"></i>
        </div>
    </label>
    <label class="weui_cell weui_check_label" for="s13">
        <div class="weui_cell_bd weui_cell_primary">
            <p>使用小金库<span class="twoss">￥1200.0</span><span class="twossw">减￥20.0</span></p>
        </div>
        <div class="weui_cell_hd">
            <input type="checkbox" class="weui_check" name="checkbox1" id="s13" checked="checked">
            <i class="weui_icon_checked"></i>
        </div>
    </label>
</div>
<p style="height: 60px;"></p>
<div class="xzlx-hot">
    <div class="item-action">
        <div class="moneypay">应付￥1999:00</div>
        <div class="buy-now yuanjiaoo">
            <a href="procurementPayPage.html" th:href="javascript:submitOrder();">提交采购订单</a>
        </div>
    </div>
</div>
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.js"></script>
<script type="text/javascript" src="js/w/swiper.animate1.0.2.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/swiper.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        var addOrderUrl = /*[[@{/wap/addOrderInfo}]]*/ 'procurementPayPage.html';

        var goodId = /*[[${good.id}]]*/ 1;

        var routeId = /*[[${routeId}]]*/ 1;

        //剩余人数
        var amount = /*[[${amount}]]*/ 4;
        //成人价格
        var price = /*[[${good.price}]]*/ 10;
        //儿童价格
        var childPrice = /*[[${good.price*(childrenDiscount/10)}]]*/ 8;
        //总金额
        var buyerMoney = price;

        $(".money").text('￥' + buyerMoney);

        //商城小伙伴积分
        var mallIntegral = 200;
        //商城小伙伴余额
        var mallBalance = 20;
        //商城小伙伴小金库
        var mallCoffers = 200;

        //成人减1
        $(".priceDecrease").click(function () {
            if (parseInt($("input[name='adult']").val()) > 0) {
                $("input[name='adult']").val(parseInt($("input[name='adult']").val()) - 1)
                buyerMoney -= price;
                $(".money").text('￥' + buyerMoney);
                $('.adultDiv:last').remove();
            }
        });
        //成人加1
        $(".priceIncrease").click(function () {
            if (parseInt($("input[name='adult']").val()) + parseInt($("input[name='children']").val()) < amount) {
                $("input[name='adult']").val(parseInt($("input[name='adult']").val()) + 1)
                buyerMoney += price;
                $(".itemTemplate").clone().removeClass("itemTemplate").addClass("adultDiv").appendTo(".items")
                        .show().find(".travelerType").val(0);
                $(".money").text('￥' + buyerMoney);
            }
        });

        //儿童减1
        $(".childPriceDecrease").click(function () {
            if (parseInt($("input[name='children']").val()) > 0) {
                $("input[name='children']").val(parseInt($("input[name='children']").val()) - 1)
                buyerMoney -= childPrice;
                $('.childrenDiv:last').remove();
                $(".money").text('￥' + buyerMoney);
            }
        });

        //儿童加1
        $(".childPriceIncrease").click(function () {
            if (parseInt($("input[name='adult']").val()) + parseInt($("input[name='children']").val()) < amount) {
                $("input[name='children']").val(parseInt($("input[name='children']").val()) + 1)
                $(".itemTemplate").clone().removeClass("itemTemplate").addClass("childrenDiv").appendTo(".items")
                        .show().find(".travelerType").val(1);
                buyerMoney += childPrice;
                $(".money").text('￥' + buyerMoney);
            }
        });

        //删除人员信息
        $(".items").on('click', '.delete', function () {
            $(this).parent().parent().remove();
            var travelerType = $(this).parent().parent().find(".travelerType").val();
            if (travelerType == 0) {
                $("input[name='adult']").val(parseInt($("input[name='adult']").val()) - 1)
                buyerMoney -= price;
            } else {
                $("input[name='children']").val(parseInt($("input[name='children']").val()) - 1)
                buyerMoney -= childPrice;
            }
            amount -= 1;
            $(".money").text('￥' + buyerMoney);
        });

    });
</script>
</body>

</html>
