<!doctype html>
<html lang="en">
<head>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/weui.min.css">
    <link rel="stylesheet" type="text/css"
          href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/weui.min-xzlx-diy.css">
    <title>立即采购</title>
</head>

<body class="bac">
<div class="weui_cells_title"> 采购信息</div>
<div class="content" style="background-color: #fff; padding:8px;">
    <div class="number-control" style="margin:0px 20px;">
        <p style="float: left; margin-top:3px;">成人：</p>
        <div class="mui-number" style="float: right">
            <button type="button" class="decrease disabled">-</button>
            <input type="number" class="num" value="1" min="1" max="205" step="" name="quantity">
            <button type="button" class="increase">+</button>
        </div>
    </div>
    <p style="clear: both;"></p>
</div>
<div class="content" style="background-color: #fff; padding:8px;border-top:1px solid #ececec;">
    <div class="number-control" style="margin:0px 20px;">
        <p style="float: left; margin-top:3px;">儿童：</p>
        <div class="mui-number" style="float: right">
            <button type="button" class="decrease disabled">-</button>
            <input type="number" class="num" value="1" min="1" max="205" step="" name="quantity">
            <button type="button" class="increase">+</button>
        </div>
    </div>
    <p style="clear: both;"></p>
</div>
<div class="content" style="background-color: #fff; padding:8px;border-top:1px solid #ececec;">
    <div class="number-control" style="margin:0px 20px;">
        <p style="float: left; margin-top:3px;">采购价格：</p>
        <p style="float:right;color:#FF5558;">￥1999.00</p>
    </div>
    <p style="clear: both;"></p>
</div>

<!---->
<div class="weui_cells_title"> 请填写人员正确信息</div>
<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="text" placeholder="负责人姓名">
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="tel" placeholder="手机号">
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="tel" placeholder="身份证">
        </div>
    </div>
    <div class="weui_cell weui_cell_select">
        <div class="weui_cell_bd weui_cell_primary">
            <select class="weui_select" name="select1" style="color:#a9a9a9;">
                <option selected="" value="0">性别</option>
                <option value="1">男</option>
                <option value="2">女</option>
            </select>
        </div>
    </div>
    <div class="weui_cell weui_cell_select">
        <div class="weui_cell_bd weui_cell_primary">
            <select class="weui_select" name="select1" style="color:#a9a9a9;">
                <option selected="" value="0">年龄</option>
                <option value="1">10-20</option>
                <option value="2">30-60</option>
            </select>
        </div>
    </div>
</div>
<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="text" placeholder="姓名">
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="tel" placeholder="身份证">
        </div>
    </div>
    <div class="weui_cell weui_cell_select">
        <div class="weui_cell_bd weui_cell_primary">
            <select class="weui_select" name="select1" style="color:#a9a9a9;">
                <option selected="" value="0">性别</option>
                <option value="1">男</option>
                <option value="2">女</option>
            </select>
        </div>
    </div>
    <div class="weui_cell weui_cell_select">
        <div class="weui_cell_bd weui_cell_primary">
            <select class="weui_select" name="select1" style="color:#a9a9a9;">
                <option selected="" value="0">年龄</option>
                <option value="1">1-6</option>
                <option value="2">7-13</option>
            </select>
        </div>
    </div>
</div>
<div class="weui_cells_title">备注</div>
<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <textarea class="weui_textarea" placeholder="请输入评论" rows="3"></textarea>
            <div class="weui_textarea_counter"><span>0</span>/200</div>
        </div>
    </div>
</div>
<div class="weui_cells_title">账户抵扣</div>
<div class="weui_cells weui_cells_checkbox">
    <label class="weui_cell weui_check_label" for="s11">
        <div class="weui_cell_bd weui_cell_primary">
            <p>使用积分<span class="twoss">2000积分</span><span class="twossw">减￥20.0</span></p>
        </div>
        <div class="weui_cell_hd">
            <input type="checkbox" class="weui_check" name="checkbox1" id="s11" checked="checked">
            <i class="weui_icon_checked"></i>
        </div>
    </label>
    <label class="weui_cell weui_check_label" for="s12">
        <div class="weui_cell_bd weui_cell_primary">
            <p>使用余额<span class="twoss">￥20.0</span><span class="twossw">减￥20.0</span></p>
        </div>
        <div class="weui_cell_hd">
            <input type="checkbox" class="weui_check" name="checkbox1" id="s12" checked="checked">
            <i class="weui_icon_checked"></i>
        </div>
    </label>
    <label class="weui_cell weui_check_label" for="s13">
        <div class="weui_cell_bd weui_cell_primary">
            <p>使用小金库<span class="twoss">￥1200.0</span><span class="twossw">减￥20.0</span></p>
        </div>
        <div class="weui_cell_hd">
            <input type="checkbox" class="weui_check" name="checkbox1" id="s13" checked="checked">
            <i class="weui_icon_checked"></i>
        </div>
    </label>
</div>


<p style="height: 60px;"></p>
<div class="xzlx-hot">
    <div class="item-action">
        <div class="moneypay">应付￥1999:00</div>
        <div class="buy-now yuanjiaoo"><a href="procurementPayPage.html">提交采购订单</a></div>
    </div>
</div>
</body>
</html>
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.js"></script>
<script type="text/javascript" src="js/w/swiper.animate1.0.2.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/swiper.min.js"></script>