<!doctype html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/weui.min.css">
    <link rel="stylesheet" type="text/css"
          href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/weui.min-xzlx-diy.css">
    <title>路线详情</title>
</head>

<body class="bac">
<!--轮播-->
<div class="xzlx-hot">
    <div class="scrollable-content">
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="../../assets/img/swiper-1.jpg"/></div>
                <div class="swiper-slide"><img src="../../assets/img/swiper-2.jpg"/></div>
                <div class="swiper-slide"><img src="../../assets/img/swiper-1.jpg"/></div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <!--描述-->

        <div class="weui_panel_bd" style="background-color:#fff">
            <div class="weui_media_box weui_media_text">
                <h4 style="margin-bottom: 2px;font-weight: 400;font-size: 17px;">【朝圣之旅】西藏云南8日轻装游，赶快报名！</h4>
                <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                <ul class="weui_media_info">
                    <li class="weui_media_info_meta"
                        style="color: #b81212;font-size: 16px;font-weight: bold;line-height: 15px;">￥300元/人
                    </li>
                    <li class="weui_media_info_meta" style="margin-top: 3px;">佣金：200元</li>
                </ul>
                <ul class="weui_media_info">
                    <li class="weui_media_info_meta">出发地：杭州</li>
                    <li class="weui_media_info_meta">目的地：宁波</li>
                    <li class="weui_media_info_meta">途径地：绍兴</li>
                </ul>
            </div>
        </div>
        <div class="weui_cells weui_cells_access xia" style="margin-top:10px; font-size:14px"><a class="weui_cell"
                                                                                                 href="javascript:void(0);">
            <div class="weui_cell_bd weui_cell_primary">
                <p>出发时间</p>
            </div>
        </a></div>
        <div class="custom-switch" style="padding:0px 0px; background-color:#fff; overflow:hidden">
            <div class="switch_slider" id="loopImgDiv"
                 style="padding-bottom: 0px; padding-left: 2%; padding-top: 2%; padding-bottom: 2%; padding-right: 0px; background: #fff;">
                <div class="inner">
                    <div class="switch-container">
                        <div id="wrapperPanel" class="swiper-wrapper" style="height: auto;">
                            <div class="swiper-slide" style="width: auto;"><a href="">
                                <div class="custom-image-mask"><span class="bn">2016.10.10 9:00</span> <span
                                        class="bna">剩余8人</span>
                                    <div class="masksd"></div>
                                    <img src="../../assets/img/a1.jpg" style="width:100%; "/></div>
                            </a></div>
                            <div class="swiper-slide" style="width: auto;"><a href="">
                                <div class="custom-image-mask"><span class="bn">2016.10.10 9:00</span> <span
                                        class="bna">剩余8人</span>
                                    <div class="masksd"></div>
                                    <img src="../../assets/img/a1.jpg" style="width:100%; "/></div>
                            </a></div>
                            <div class="swiper-slide" style="width: auto;"><a href="">
                                <div class="custom-image-mask"><span class="bn">2016.10.10 9:00</span> <span
                                        class="bna">剩余8人</span>
                                    <div class="masksd"></div>
                                    <img src="../../assets/img/a1.jpg" style="width:100%; "/></div>
                            </a></div>
                            <div class="swiper-slide" style="width: auto;"><a href="">
                                <div class="custom-image-mask"><span class="bn">全部时间</span> <span class="bna" style="">查看</span>
                                    <div class="masksd"></div>
                                    <img src="../../assets/img/a1.jpg" style="width:100%; "/></div>
                            </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="weui_cells weui_cells_access"><a class="weui_cell" href="javascript:;">
            <div class="weui_media_box weui_media_text" style="padding: 0px; width: 100%">
                <h4 class="weui_media_title">乌鲁木齐俱乐部</h4>
                <ul class="weui_media_info" style="margin-top: 6px">
                    <li class="weui_media_info_meta levelz"><img class="yrzimg" src="../../assets/img/yrz.png">已认证</li>
                    <li class="weui_media_info_meta levelx">12条路线</li>
                </ul>
                <ul class="weui_media_info" style="margin-top: 8px;">
                    <li class="weui_media_info_meta">地接人：王剑南</li>
                    <li class="weui_media_info_meta">联系电话：0571-13205713331</li>
                </ul>
            </div>
            <span class="weui_cell_ft"></span> </a></div>
        <div class="weui_navbar" style="margin-top: 10px;">
            <div class="weui_navbar_item orange weui_bar_item_on "> 活动详情</div>
            <div class="weui_navbar_item orange"> 注意事项</div>
        </div>
        <img src="../../assets/img/a1.jpg" width="100%"></div>
    <p style="height:40px;"></p>
    <div class="item-action">
        <div class="toggle-home"><a href=""><span class="icon"></span>首页</a></div>

        <div class="buy-now yuanjiaoo"><a href="procurement.html"> 立即采购 </a></div>

    </div>
    <!---->
</div>
</body>
</html>
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.js"></script>
<script type="text/javascript" src="js/w/swiper.animate1.0.2.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/swiper.min.js"></script>
<script>
    $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
    });
</script>
<script type="text/javascript">

    $(function () {

        var swiper = new Swiper('.switch-container', {
            pagination: '.swiper-pagination',
            slidesPerView: 2.5,
            paginationClickable: true,
            spaceBetween: 10,
            freeMode: true,
            onImagesReady: function (swiper) {
                var divList = $(".swiper-slide");
                var contentWidth = 0;
                $(".wipeImg").each(function (o) {
                    var imgWidth = $(this).width();
                    var $divDom = $(divList[o]);
                    $divDom.css("width", imgWidth);
                    contentWidth + imgWidth + 10;
                });
                //$("#wrapperPanel").css("width", contentWidth);
            },
            onInit: function (swiper) {

            }
        });


    });
</script>