<!doctype html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/weui.min.css">
    <link rel="stylesheet" type="text/css"
          href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/weui.min-xzlx-diy.css">
    <title>线路供应商</title>
</head>

<body class="bac">
<div class="xzlx-hot">
    <div class="swiper-container">
        <div class="weui_cells weui_cells_access">
            <a class="weui_cell" href="javascript:;">
                <div class="weui_media_box weui_media_text" style="padding: 0px; width: 100%">
                    <h4 class="weui_media_title">乌鲁木齐俱乐部</h4>
                    <ul class="weui_media_info">
                        <li class="weui_media_info_meta levelz"><img class="yrzimg"
                                                                     style="float: left; margin-right: 0px;"
                                                                     src="../../assets/img/yrz.png">已认证
                        </li>
                        <li class="weui_media_info_meta levelx">12条路线</li>
                    </ul>
                </div>
            </a>
        </div>
        <!---->
        <div class="weui_cells_title">
            分销路线
        </div>
        <div class="weui_tab_bd" style="padding-bottom:0px">
            <div class="cont-zhbox">
                <div class="cont-zhbox-t"><a href="geren-index8.html" class="bz">
                    <p class="cont-zhbox-img"><img src="../../assets/img/swiper-2.jpg"></p>
                    <p class="cont-zhbox-nav"></p>
                </a>
                    <div class="zhbox">
                        <div class="zh-wz">
                            <div class="zh-wz-x">
                                <p class="zh-wz-name">【朝圣之旅】西藏云南8日轻装游，赶快报名！</p>
                            </div>
                            <div class="zh-wz-time" style="padding-top: 10px"><span
                                    style="color:#FF5558; font-size: 16px;">￥199</span>
                                <p style="clear:both"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cont-zhbox">
                <div class="cont-zhbox-t"><a href="geren-index8.html" class="bz">
                    <p class="cont-zhbox-img"><img src="../../assets/img/swiper-2.jpg"></p>
                    <p class="cont-zhbox-nav"></p>
                </a>
                    <div class="zhbox">
                        <div class="zh-wz">
                            <div class="zh-wz-x">
                                <p class="zh-wz-name">【朝圣之旅】西藏云南8日轻装游，赶快报名！</p>
                            </div>
                            <div class="zh-wz-time" style="padding-top: 10px"><span
                                    style="color:#FF5558; font-size: 16px;">￥199</span>
                                <p style="clear:both"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cont-zhbox">
                <div class="cont-zhbox-t"><a href="geren-index8.html" class="bz">
                    <p class="cont-zhbox-img"><img src="../../assets/img/swiper-2.jpg"></p>
                    <p class="cont-zhbox-nav"></p>
                </a>
                    <div class="zhbox">
                        <div class="zh-wz">
                            <div class="zh-wz-x">
                                <p class="zh-wz-name">【朝圣之旅】西藏云南8日轻装游，赶快报名！</p>
                            </div>
                            <div class="zh-wz-time" style="padding-top: 10px"><span
                                    style="color:#FF5558; font-size: 16px;">￥199</span>
                                <p style="clear:both"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-infinite-scroll">
        <div class="infinite-preloader"></div>
        滑动加载更多
    </div>
    <!--底部高度-->
    <p style="height: 80px; clear: both"></p>
    <!--底部导航-->
    <div class="weui_navbar daohangs">
        <a href="index.html" class="weui_navbar_item weui_bar_item_on">
            <p class="kimg dhshouyeicon"></p>
            <p>首页</p>
        </a>
        <a href="search.html" class="weui_navbar_item ">
            <p class="kimg dhsousuoicon"></p>
            <p>搜索</p>
        </a>
        <a href="my.html" class="weui_navbar_item">
            <p class="kimg dhwodeicon"></p>
            <p> 我的</p>
        </a>
    </div>

    <!---->
</div>
</body>
</html>
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.js"></script>
<script type="text/javascript" src="js/w/swiper.animate1.0.2.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/swiper.min.js"></script>